<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <div class="card mb-3 shadow-sm" style="min-height: 180px">
        <% if (link) { %>
        <a href = "<%- link %>" class="text-decoration-none text-reset">
        <% } %>
            <div class="card-body text-center">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0"><%- dashcardName %></h5>
                    <div class="card-icon-container">
                        <% if (icon == "chart") { %>
                            <i class="fas fa-chart-simple fa-3x card-icon"></i>
                        <% } else if (icon == "warning") { %>
                            <i class="fas fa-exclamation-triangle text-warning fa-3x card-icon"></i>
                        <% } else if (icon == "satoshi") { %>
                            <i class="fas fa-bolt-lightning text-warning fa-3x card-icon"></i>
                        <% } else if (icon == "doughnut") { %>
                            <% if (link.toString().startsWith("#")) { link = link.replace(/^#/, ''); } %>
                            <% if (data.length === 0) { %>
                                <i class="fas fa-chart-simple fa-3x card-icon"></i>
                            <% } else { %>
                                <canvas id="<%- link %>-dashcard-doughnut"></canvas>
                            <% } %>
                        <% }  %>
                    </div>
                </div>
                <h1 id="<%- dashcardName %>" class="display-2 font-weight-bold">0</h1>     
            </div>
        <% if (link) { %>
        </a>
        <% } %>
    </div>
</div>
<script>
document.getElementById('<%- dashcardName %>').textContent = JSON.parse("<%- data %>").length || JSON.parse("<%- data %>") || 0;
</script>

<style>
    .card {
        border: 1px solid #dedede;
        border-radius: 10px;
        transition: transform 0.3s;
        background-color: #edebf1;
        color: #2c2b2b;


    }
    
    .card:hover {
        transform: scale(1.05);
    }
    
    .card-title {
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        color: #575656;
    }

    .card-icon {
        color: #c87bff;
    }   

    .card-icon-container {
        width: 55px;
        height: 55px;
    }
    
</style>