<h3><%- tableName %></h3>
<div id="<%- tableId %>-toolbar">
<button id="<%- tableId %>-button-add"%> class="btn btn-info <%= buttons[0][1] == 'hide' ? 'd-none' : '' %> " disabled>
    <i class="fa fa-add"></i>
</button>
<div class="btn-group" role="group" aria-label="Edit buttons">
    <button id="<%- tableId %>-button-disable" class="btn btn-warning <%= buttons[1][1] == 'hide' ? 'd-none' : '' %> " disabled>
    <i class="fa fa-ban"></i> 
    </button>
    <button id="<%- tableId %>-button-admin"   class="btn btn-success <%= buttons[2][1] == 'hide' ? 'd-none' : '' %> " disabled>
    <i class="fa fa-user-tie"></i> 
    </button>
    <button id="<%- tableId %>-button-edit" 

            class="btn btn-secondary <%= buttons[3][1] == 'hide' ? 'd-none' : '' %> " disabled
            data-bs-toggle="modal" 
            data-bs-target="#<%- tableId %>-modal" 
            >
    <i class="fa fa-edit"></i> 
    </button>
    <button id="<%- tableId %>-button-password"  class="btn btn-secondary <%= buttons[4][1] == 'hide' ? 'd-none' : '' %> " disabled>
        <i class="fa fa-key"></i>
    </button>
</div>
<button id="<%- tableId %>-button-remove"  class="btn btn-danger <%= buttons[5][1] == 'hide' ? 'd-none' : '' %> " disabled>
    <i class="fa fa-trash"></i> 
</button>
</div>
<table 
    id="<%- tableId %>"
    >
<thead>
    <tr>
        <th data-field="state" data-checkbox="true"></th>
        <th data-field="id" data-sortable="true">ID</th>
        <% for(var i=0; i<fields.length; i++) { %>
            <th data-field="<%= fields[i][0] %>" data-sortable="true"><%= fields[i][0] %></th>
        <% } %>
    </tr>
    </thead>
</table>
<%- include('modal', {"tableId":tableId, "fields": fields}); %>