<link rel="stylesheet" href="/static/css/form.css">
<form class="form">
    <div id="pubkey" class="mb-3">
        <label for="pubkey" class="mb-1">Nostr public key</label>
        <div class="input-group">
            <input type="text" class="form-control" id="pubkey-input" value="<%= request.session.metadata.npub %>" readonly>
            <button class="btn btn-outline-secondary" type="button" id="pubkey-QR-btn"><i class="fa-solid fa-qrcode"></i></button>
            <button class="btn btn-outline-secondary" type="button" id="pubkey-copy-btn" onclick="copyToClipboard(this,document.getElementById('pubkey-input').value)"><i class="fa-solid fa-copy"></i></button>
        </div>
    </div>
    <div id="display-name" class="mb-3">
        <label for="displayName-input" class="mb-1">Display name</label>
        <input type="text" class="form-control" id="displayName-input" value="<%= request.session.metadata.display_name %>">
    </div>
    <div id="picture" class="mb-3">
        <label for="picture-input" class="mb-1">Profile picture</label>
        <div class="input-group">
            <input type="text" class="form-control" id="picture-input" value="<%= request.session.metadata.picture %>">
            <button class="btn btn-outline-secondary" type="button" id="picture-upload-btn"><i class="fa-solid fa-upload"></i></button>
            <button class="btn btn-outline-secondary" type="button" id="picture-copy-btn" onclick="copyToClipboard(this,document.getElementById('picture-input').value)"><i class="fa-solid fa-copy"></i></button>
        </div>  
    </div>
    <div id="banner" class="mb-3">
        <label for="banner-input" class="mb-1">Banner image</label>
        <div class="input-group">
            <input type="text" class="form-control" id="banner-input" value="<%= request.session.metadata.banner %>">
            <button class="btn btn-outline-secondary" type="button" id="banner-upload-btn"><i class="fa-solid fa-upload"></i></button>
            <button class="btn btn-outline-secondary" type="button" id="banner-copy-btn" onclick="copyToClipboard(this,document.getElementById('banner-input').value)"><i class="fa-solid fa-copy"></i></button>
        </div> 
    </div>
    <div id="nip05" class="mb-3">
        <label for="nip05-input" class="mb-1">Nostr address (NIP-05)</label>
        <div class="input-group">
            <input type="text" class="form-control" id="nip05-input" value="<%= request.session.metadata.nip05 %>">
            <div class="input-group-text">
                <div class="form-check form-switch">
                    <label for ="userSettings.nostrAddress.enableLightningRedirect" class=""><i class="fa-solid fa-bolt me-2 text-warning"></i>LN redirect</button></label>
                    <input  class="form-check-input" 
                            type="checkbox" 
                            value="checked"
                            name="userSettings.nostrAddress.enableLightningRedirect" 
                            id="userSettings.nostrAddress.enableLightningRedirect"
                            >
                </div>  
            </div>  
        </div>
    </div>
    <div id="lud16" class="mb-3">
        <label for="lud16-input" class="form-label">Lightning address</label>
        <input type="text" class="form-control" id="lud16-input" value="<%= request.session.metadata.lud16 %>">
    </div>
    <div id="about" class="mb-3">
        <label for="about-input" class="form-label">About</label>
        <textarea class="form-control" id="about-input" rows="4"><%= request.session.metadata.about %></textarea>
    </div>
    <div class="text-center mt-1 mb-5 mb-lg-2">
        <button type="submit" class="btn btn-primary col-4">Save</button>
    </div>
</form>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {

        const showPubkeyQR = () => {
            const QR = document.createElement('div');
            QR.setAttribute('id', 'pubkey-QR');
            QR.classList.add('d-none', 'd-flex', 'justify-content-center');
            document.getElementById('pubkey').appendChild(QR);

            const qrcode = new QRCode(document.getElementById("pubkey-QR"), {
                text: document.getElementById("pubkey-input").value,
                width: 250,
                height: 250
            });

            initMessageModal('#profile', document.getElementById('pubkey-QR'), '', 'modal-sm').then(() => {
                document.getElementById('pubkey-QR').classList.add('d-none');
            });
            document.getElementById('pubkey-QR').classList.remove('d-none');

        }
        document.getElementById('pubkey-QR-btn').addEventListener('click', showPubkeyQR);
    });

</script>