<link href="https://cdn.jsdelivr.net/npm/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.2/dist/bootstrap-table.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/table.css">

<html lang="en">
  <%- include('./partials/head',{title:"Nostrcheck Server - Dashboard"}); %>

  <body class="d-flex flex-column h-100">
    <%- include('./partials/navbar', {active:'home'}); %>
    <main class="pb-1">
      <h1 class="col-12 text-center">Dashboard</h1>
      <div class="container-fluid mt-4 overflow-auto ">
        <%- include('./components/table', {
                                      tableName:"Registered users", 
                                      tableId:"registeredData", 
                                      buttons:[
                                              ['add','show'],
                                              ['disable','show'],
                                              ['admin','show'],
                                              ['edit','show'],
                                              ['password','show'],
                                              ['remove','show']
                                              ],
                                      fields:[
                                              ['username','enabled'],
                                              ['pubkey','enabled'],
                                              ['domain','enabled'],
                                              ['active','enabled'],
                                              ['allowed','enabled'],
                                              ['comments','enabled'],
                                              ['date','enabled'],
                                              ]
                                      }); %>

        <div>
          <canvas id="registeredData-chart"></canvas>
        </div>

        <%- include('./components/table', {
                                      tableName:"Media files", 
                                      tableId:"mediafilesData", 
                                      buttons:[
                                              ['add','show'],
                                              ['disable','show'],
                                              ['admin','hide'],
                                              ['edit','show'],
                                              ['password','hide'],
                                              ['remove','show']
                                              ],
                                      fields:[
                                              ['pubkey','enabled'],
                                              ['filename','disabled'],
                                              ['original_hash','disabled'],
                                              ['hash','disabled'],
                                              ['status','enabled'],
                                              ['visibility','enabled'],
                                              ['dimensions','enabled'],
                                              ['filesize','enabled'],
                                              ['date','enabled'],
                                              ['comments','enabled']
                                              ]
                                      }); %>

        <%- include('./components/table', {
                                        tableName:"Lightning redirections", 
                                        tableId:"lightningData", 
                                        buttons:[
                                          ['add','show'],
                                          ['disable','hide'],
                                          ['admin','hide'],
                                          ['edit','show'],
                                          ['password','hide'],
                                          ['remove','show']
                                        ],
                                        fields:[
                                        ['pubkey','enabled'],
                                        ['lightningaddress','enabled'],
                                        ['comments','enabled']
                                        ]
                                        }); %>
     
        <%- include('./components/table', {
                                        tableName:"Active domain names", 
                                        tableId:"domainsData", 
                                        buttons:[
                                          ['add','show'],
                                          ['disable','show'],
                                          ['admin','hide'],
                                          ['edit','show'],
                                          ['password','hide'],
                                          ['remove','show']
                                        ],
                                        fields:[
                                        ['domain','enabled'],
                                        ['active','enabled'],
                                        ['comments','enabled']
                                        ]
                                        }); %> 
      </div>
     </main>
    <%- include('./partials/footer'); %>                               
  </body>

  <script src="/static/js/table.js"></script>
  <script>
    initTable("#registeredData",'<%- JSON.stringify(request.body.registeredData) %>')
    initTable("#mediafilesData",'<%- JSON.stringify(request.body.mediafilesData) %>')
    initTable("#lightningData",'<%- JSON.stringify(request.body.lightningData) %>')
    initTable("#domainsData",'<%- JSON.stringify(request.body.domainsData) %>')
  </script>


<!-- TESTING -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('registeredData-chart');
  const rawData = JSON.parse('<%- JSON.stringify(request.body.registeredData) %>');
  const monthCounts = new Array(12).fill(0); // Initialize an array of 12 zeros
  rawData.forEach(item => {
    const date = new Date(item.date);
    const month = date.getUTCMonth(); // Use getUTCMonth instead of getMonth
    monthCounts[month]++; // Increment the count for this month
  });
  const labels = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11','12']
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        label: 'registerd users', 
        data: monthCounts,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

   //Retrieve data from req.body.registeredData
    //Create a new array with the data
    //Create a new chart with the data

    

  </script>
</html>
