<link href="https://cdn.jsdelivr.net/npm/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.2/dist/bootstrap-table.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/table.css">

<html lang="en">
  <%- include('./partials/head',{title:"Nostrcheck Server - Dashboard"}); %>
  <body class="d-flex flex-column h-100">
    <%- include('./partials/navbar', {active:'home'}); %>
    <main class="pb-1">
      <h1 class="col-12 text-center">Dashboard</h1>
      <div class= "container-fluid mt-4">
        <div class="row">
          <% if (request.body.nostraddressData && request.body.nostraddressData.length > 0) { %>
            <%- include('./components/dashcard', {dashcardName:"Registered users",data: request.body.nostraddressData}); %>
          <% } %>
          <% if (request.body.mediaData && request.body.mediaData.length > 0) { %>
            <%- include('./components/dashcard', {dashcardName:"Media files",data: request.body.mediaData}); %>
          <% } %>
          <% if (request.body.lightningData && request.body.lightningData.length > 0) { %>
            <%- include('./components/dashcard', {dashcardName:"Lightning redirections",data: request.body.lightningData}); %>
          <% } %>
          <% if (request.body.domainsData && request.body.domainsData.length > 0) { %>
            <%- include('./components/dashcard', {dashcardName:"Active domain names",data: request.body.domainsData}); %>
          <% } %>
        </div>
      </div>
      <div class= "container-fluid mt-4">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <canvas id="nostraddressData-chart"> </canvas>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <canvas id="mediaData-chart" class="col-xl-3 col-lg-4 col-md-12 col-sm-12"></canvas>
          </div>
        </div> 
      </div> 
      <div class="container-fluid mt-4 overflow-auto ">
        <% if(request.body.nostraddressData && request.body.nostraddressData.length > 0) { %>
          <%- include('./components/table', {
                                        tableName:"Registered users", 
                                        tableId:"nostraddressData", 
                                        buttons:[
                                                ['add','show'],
                                                ['disable','show'],
                                                ['enable','show'],
                                                ['visible','hide'],
                                                ['invisible','hide'],
                                                ['admin','show'],
                                                ['edit','show'],
                                                ['password','show'],
                                                ['remove','show']
                                                ],
                                        fields:[
                                                ['username','enabled'],
                                                ['pubkey','enabled'],
                                                ['hex','enabled'],
                                                ['domain','enabled'],
                                                ['active','enabled'],
                                                ['allowed','enabled'],
                                                ['comments','enabled'],
                                                ['date','enabled'],
                                                ]
                                        }); %>
        <% } %>
        <% if(request.body.mediaData && request.body.mediaData.length > 0) { %>
          <%- include('./components/table', {
                                        tableName:"Media files", 
                                        tableId:"mediaData", 
                                        buttons:[
                                                ['add','show'],
                                                ['disable','show'],
                                                ['enable','show'],      
                                                ['visible','show'],
                                                ['invisible','show'],                                        
                                                ['admin','hide'],
                                                ['edit','show'],
                                                ['password','hide'],
                                                ['remove','show']
                                                ],
                                        fields:[
                                                ['pubkey','enabled'],
                                                ['filename','disabled'],
                                                ['original_hash','disabled'],
                                                ['hash','disabled'],
                                                ['status','enabled'],
                                                ['active','enabled'],
                                                ['visibility','enabled'],
                                                ['dimensions','enabled'],
                                                ['filesize','enabled'],
                                                ['date','enabled'],
                                                ['comments','enabled']
                                                ]
                                        }); %>
        <% } %>
        <% if(request.body.lightningData && request.body.lightningData.length > 0) { %>
          <%- include('./components/table', {
                                          tableName:"Lightning redirections", 
                                          tableId:"lightningData", 
                                          buttons:[
                                            ['add','show'],
                                            ['disable','hide'],
                                            ['enable','hide'],
                                            ['visible','hide'],
                                            ['invisible','hide'],
                                            ['admin','hide'],
                                            ['edit','show'],
                                            ['password','hide'],
                                            ['remove','show']
                                          ],
                                          fields:[
                                          ['pubkey','enabled'],
                                          ['lightningaddress','enabled'],
                                          ['comments','enabled']
                                          ]
                                          }); %>
        <% } %>
        <% if(request.body.domainsData && request.body.domainsData.length > 0) { %>
          <%- include('./components/table', {
                                          tableName:"Active domain names", 
                                          tableId:"domainsData", 
                                          buttons:[
                                            ['add','show'],
                                            ['disable','show'],
                                            ['enable','show'],
                                            ['visible','hide'],
                                            ['invisible','hide'],
                                            ['admin','hide'],
                                            ['edit','show'],
                                            ['password','hide'],
                                            ['remove','show']
                                          ],
                                          fields:[
                                          ['domain','enabled'],
                                          ['active','enabled'],
                                          ['comments','enabled']
                                          ]
                                          }); %> 
        <% } %>
      </div>
     </main>
    <%- include('./partials/footer'); %>        
                           
  </body>

<!-- Tables data -->
  <script src="/static/js/table.js"></script>
  <script>
    let authkey = "<%= request.session.authkey %>"
    if("<%- request.body.nostraddressData && request.body.nostraddressData.length > 0 %>"){
      initTable("#nostraddressData",'<%- JSON.stringify(request.body.nostraddressData) %>','user', authkey)
    }
    if("<%- request.body.mediaData && request.body.mediaData.length > 0 %>"){
      initTable("#mediaData",'<%- JSON.stringify(request.body.mediaData) %>', 'media file')
    }
    if("<%- request.body.lightningData && request.body.lightningData.length > 0 %>"){
      initTable("#lightningData",'<%- JSON.stringify(request.body.lightningData) %>', 'lightning redirection')
    }
    if("<%- request.body.domainsData && request.body.domainsData.length > 0 %>"){
      initTable("#domainsData",'<%- JSON.stringify(request.body.domainsData) %>', 'domain name')
    }
  </script>

<!-- Charts data -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/js/chart.js"></script>
<script>
  if("<%- JSON.stringify(request.body.nostraddressData && request.body.nostraddressData.length > 0 ) %>"){
    initMonthChart("#nostraddressData-chart",'Registered users','<%- JSON.stringify(request.body.nostraddressData) %>','<%- JSON.stringify(request.body.nostraddressData) %>')
  }
  if("<%- JSON.stringify(request.body.mediaData && request.body.mediaData.length > 0 ) %>"){
    initMonthChart("#mediaData-chart",'Media files','<%- JSON.stringify(request.body.mediaData) %>','<%- JSON.stringify(request.body.mediaData) %>')
  }
</script>
</html>
