<link href="https://cdn.jsdelivr.net/npm/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.6/dist/bootstrap-table.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/table.css">
<link rel="stylesheet" href="/static/css/form.css">

<html lang="en">
  <%- include('./partials/head',{title: `${locals.serverHost} - Dashboard`}); %>
  <body class="d-flex flex-column h-100">
    <%- include('./partials/navbar', {active:'dashboard'}); %>
    <main class="pb-1">
      <div class="text-center"><h1 class="display-2 mt-2 gradient-text">Dashboard</h1></div>
      <p class="text-center mt-2 display-6" id="welcome-text"></p>
      <div class= "container-fluid mt-5">
        <%- include('./components/dashboard/dashcards'); %>
        <ul class="nav nav-tabs mt-3 lead " id="dashboardTabs" role="tablist">
          <% if(locals.activeModules.includes('nostraddress')) { %>
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="users-tab" data-bs-toggle="tab" data-bs-target="#users" type="button" role="tab"><i class="fa fa-user me-2"></i>Registered users</button>
            </li>
          <% } %>
          <% if(locals.activeModules.includes('nostraddress')) { %>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="invites-tab" data-bs-toggle="tab" data-bs-target="#invites" type="button" role="tab"><i class="fa fa-envelope-open-text me-2"></i>Invites</button>
            </li>
          <% } %>
          <% if(locals.activeModules.includes('media')) { %>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="files-tab" data-bs-toggle="tab" data-bs-target="#files" type="button" role="tab"><i class="fa fa-folder-open me-2"></i>Hosted files</button>
            </li>
          <% } %>
          <% if(locals.activeModules.includes('lightning')) { %>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="lightning-tab" data-bs-toggle="tab" data-bs-target="#lightning" type="button" role="tab"><i class="fa fa-diamond-turn-right me-2"></i></i>Lightning redirects</button>
            </li>
          <% } %>
          <% if(locals.activeModules.includes('domains')) { %>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="domains-tab" data-bs-toggle="tab" data-bs-target="#domains" type="button" role="tab"><i class="fa fa-list  me-2"></i>Domains</button>
            </li>
          <% } %>
          <% if(locals.activeModules.includes('payments')) { %>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="payments-tab" data-bs-toggle="tab" data-bs-target="#payments" type="button" role="tab"><i class="fa fa-bolt-lightning text-warning  me-2"></i>Payments</button>
            </li>
          <% } %>
          <% if((locals.activeModules.includes('media') || locals.activeModules.includes('nostraddress') || locals.activeModules.includes('relay')) && locals.activeModules.includes('admin')  ) { %> 
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="security-tab" data-bs-toggle="tab" data-bs-target="#security" type="button" role="tab"><i class="fa fa-shield-halved me-2"></i>Security</button>
            </li>
          <% } %>
          <% if(locals.activeModules.includes('relay')) { %>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="relay-tab" data-bs-toggle="tab" data-bs-target="#relay" type="button" role="tab"><i class="fa fa-wifi  me-2"></i> Relay</button>
            </li>
          <% } %>
        </ul>
      </div>
      <div class="tab-content w-100 p-3 overflow-auto" id="dashboardTabsContent">
        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
          <%- include('./components/dashboard/users'); %>
        </div>
        <div class="tab-pane fade " id="invites" role="tabpanel" aria-labelledby="invites-tab">
          <%- include('./components/dashboard/invites'); %>
        </div>
        <div class="tab-pane fade " id="files" role="tabpanel" aria-labelledby="files-tab">
          <%- include('./components/dashboard/files'); %>
        </div>
        <div class="tab-pane fade " id="lightning" role="tabpanel" aria-labelledby="lightning-tab">
          <%- include('./components/dashboard/lightning'); %>
        </div>
        <div class="tab-pane fade " id="domains" role="tabpanel" aria-labelledby="domains-tab">
          <%- include('./components/dashboard/domains'); %>
        </div>
        <div class="tab-pane fade " id="payments" role="tabpanel" aria-labelledby="payments-tab">
          <%- include('./components/dashboard/payments'); %>
        </div>
        <div class="tab-pane fade " id="security" role="tabpanel" aria-labelledby="security-tab">
          <%- include('./components/dashboard/banned'); %>
          <%- include('./components/dashboard/ips'); %>  
        </div>
        <div class="tab-pane fade " id="relay" role="tabpanel" aria-labelledby="relay-tab">
          <%- include('./components/dashboard/relay'); %>
        </div>
      </div>
     </main>
    <%- include('./partials/footer', {active:'dashboard'}); %>    
    <%- include('./components/modals/media-modal'); %>
  </body>
<script>
    // Welcome text
  if (localStorage.getItem('profileData')){
  document.getElementById('welcome-text').innerHTML = `Welcome ${JSON.parse(localStorage.getItem('profileData')).display_name}, this is the status of your server today`;
  }
</script>
</html>
