<html lang="en">
  <%- include('./partials/head',{title: `${request.body.serverHost} - Documentation`}); %>
<body class="d-flex flex-column h-100">
    <%- include('./partials/navbar', {active:'documentation'}); %>
    <main class="pb-1">
    <h1 class="col-12 text-center">Documentation</h1>
    <p class="text-center mt-2">Here you can find the documentation for the active modules.</p>
    <div class="container mt-4">
      <div class="row">
        <% for(const key in request.body.activeModules) { %>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-3 container-fluid" style="width: 16rem; min-height: 15rem;">
              <div class="card-body pl-1 pr-1">
                <h4 class="card-title"><%= request.body.activeModules[key]["name"] %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><a href="<%= request.body.activeModules[key]['path'].replace('/','') %>"><%= request.body.activeModules[key]['path'] %></a></h6>
                <% for(const method in request.body.activeModules[key]["methods"]) { %>
                  <% var badgeClass; %>
                  <% if (request.body.activeModules[key]["methods"][method]  === 'GET') { %>
                      <% badgeClass = 'text-bg-success'; %>
                  <% } %>
                  <% if (request.body.activeModules[key]["methods"][method]  === 'POST') { %>
                      <% badgeClass = 'text-bg-warning'; %>
                  <% } %>
                  <% if (request.body.activeModules[key]["methods"][method]  === 'PUT') { %>
                      <% badgeClass = 'text-bg-primary'; %>
                  <% } %>
                  <% if (request.body.activeModules[key]["methods"][method]  === 'DELETE') { %>
                      <% badgeClass = 'text-bg-danger'; %>
                  <% } %>
                  <span class="badge <%= badgeClass %>"><%= request.body.activeModules[key]["methods"][method]  %></span>
                  <% } %>
                <p class="card-text mt-2"><%= request.body.activeModules[key]["description"] %></p>
                <button class="btn btn-primary" type="button">                
                  <a class="text-white" href="https://github.com/quentintaranpino/nostrcheck-api-ts/blob/0.5.0/DOCS.md#<%= request.body.activeModules[key]["name"] %>" class="card-link"><i class="fa-solid fa-book me-2"></i>Docs</a>
                </button>

              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    </main>
    <%- include('./partials/footer'); %>
    <%- include('./components/message-modal', {"objectId":"fisrtUse"}); %>
  </body>
<script>
  if ("<%= request.body.firstUse %>" != undefined && "<%= request.body.firstUse %>" != null && "<%= request.body.firstUse %>" != "") {
    initMessageModal("#fisrtUse", "<%- request.body.firstUse %>", "Welcome to your sovereignty");
  }
</script>
</html>
