<html lang="en">
<%- include('./partials/head',{title:"Nostrcheck Server - Home"}); %>
  <body>
    <%- include('./partials/navbar', {active:'home'}); %>
    <main>
    <h1 class="col-12 text-center">Active endpoints</h1>
    <div class="container mt-5">
      <div class="row">
        <% for(const key in request.body.activeEndpoints) { %>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-3 container-fluid" style="width: 16rem; height: 13rem;">
              <div class="card-body">
                <h4 class="card-title"><%= key %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><a href="<%= request.body.APIversion + request.body.activeEndpoints[key]['path'] %>"><%= request.body.activeEndpoints[key]['path'] %></a></h6>
                <% for(const method in request.body.activeEndpoints[key]["methods"]) { %>
                  <% var badgeClass; %>
                  <% if (request.body.activeEndpoints[key]["methods"][method]  === 'GET') { %>
                      <% badgeClass = 'badge-success'; %>
                  <% } %>
                  <% if (request.body.activeEndpoints[key]["methods"][method]  === 'POST') { %>
                      <% badgeClass = 'badge-warning'; %>
                  <% } %>
                  <% if (request.body.activeEndpoints[key]["methods"][method]  === 'PUT') { %>
                      <% badgeClass = 'badge-primary'; %>
                  <% } %>
                  <% if (request.body.activeEndpoints[key]["methods"][method]  === 'DELETE') { %>
                      <% badgeClass = 'badge-danger'; %>
                  <% } %>
                  <span class="badge <%= badgeClass %>"><%= request.body.activeEndpoints[key]["methods"][method]  %></span>
                  <% } %>
                <p class="card-text mt-2"><%= request.body.activeEndpoints[key]["description"] %></p>
                <a href="https://github.com/quentintaranpino/nostrcheck-api-ts/blob/main/docs.md" class="card-link">Docs</a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <p class="text-center mt-3">Nostrcheck server <%= request.body.version %> is running at localhost in development mode. By using this server you agree the <a href='/tos'>Terms of Service</a></p>

    </main>
    <%- include('./partials/footer'); %>
  </body>
</html>