<html lang="en">
<%- include('./partials/head',{title:"Nostrcheck Server - Home"}); %>
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/particles.css">
<body class="d-flex flex-column h-100">
  <%- include('./partials/navbar', {active:'home'}); %>
  <header class="poster">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center z-1">
                <h1 class="mx-auto my-0 text-uppercase">Welcome to <%= request.body.serverHost %></h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-4">This server is running version <b><%= request.body.version %></h2>
                <p class="text-white-50 mx-auto mt-2 mb-1"> Contact: <a class="text-white-50" href="https://nostrcheck.me/u/<%- request.body.serverPubkey %>"><%- request.body.serverPubkey.toString().substring(0, 14) + ":" + request.body.serverPubkey.toString().substring(request.body.serverPubkey.toString().length - 14) %></a></p>
                <p  class="text-white-50 mx-auto mt-2 mb-4">By using our services you agree the <a class="text-white-50 underline-primary" href='tos'>Terms of Service</a></p>
                <a class="btn btn-primary" href="#about">See documentation</a>
            </div>
        </div>
    </div>
</header>
<div class="animation-wrapper">
  <div class="particle particle-1"></div>
  <div class="particle particle-2"></div>
</div>
  <%- include('./partials/footer'); %>
</body>
</html>