<html lang="en">
  <%- include('./partials/head',{title: `${locals.serverHost} - Login`}); %>
  <link rel="stylesheet" href="/static/css/form.css">
  <body class="d-flex flex-column h-100">
    <%- include('./partials/navbar', {active:'login'}); %>
    <main>
      <%- include('./components/loginform'); %>
    </main>
    <%- include('./partials/footer', {active:'login'}); %>
    <%- include('./components/modals/alert-modal', {"objectId":"login"}); %>
  </body>
</html>