<html lang="en">
<%- include('./partials/head',{title: `${request.body.serverHost} - Home`}); %>
<link rel="stylesheet" href="/static/css/particles.css">
<link rel="stylesheet" href="/static/css/theme.css">
<body class="d-flex flex-column h-100">
  <div class="background-theme h-100">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center z-1">
                <h1 class="text-white mx-auto my-0 text-uppercase gradien display-2"><%= request.body.serverHost %> NOSTR MEDIA HOSTING</h1>
                <h2 class="text-white-50 mx-auto mt-1 mb-4 display-6">Fast, scalable, nostr (NIP96) and Blossom compatible.</h2>
                <p  class="text-white mx-auto mt-2 mb-4">By using our services you agree the <a class="text-white link-offset-1 link-underline-opacity-25" href='tos'>Terms of Service</a></p>
                <a class="btn btn-primary" id="register-link" href="">Try it now</a> <a class="ms-2 btn btn-primary" id="documentation-link" href="https://github.com/quentintaranpino/nostrcheck-api-ts/blob/main/DOCS.md#media">Documentation</a>
            </div>
        </div>
    </div>
  </div>
  <div id="particles-js"></div> 
  <script src="/static/js/particles.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
  <script src="/static/js/server.js"></script>
  <script>
    particlesJS("particles-js", {"particles":{"number":{"value":80,"density":{"enable":true,"value_area":800}},"color":{"value":"#ffffff"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":0.5,"random":false,"anim":{"enable":false,"speed":1,"opacity_min":0.1,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":40,"size_min":0.1,"sync":false}},"line_linked":{"enable":true,"distance":150,"color":"#ffffff","opacity":0.4,"width":1},"move":{"enable":true,"speed":6,"direction":"none","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":1200}}},"interactivity":{"detect_on":"canvas","events":{"onhover":{"enable":false,"mode":"grab"},"onclick":{"enable":true,"mode":"push"},"resize":true},"modes":{"grab":{"distance":400,"line_linked":{"opacity":1}},"bubble":{"distance":400,"size":40,"duration":2,"opacity":8,"speed":3},"repulse":{"distance":200,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});var count_particles, update; count_particles = document.querySelector('.js-count-particles'); 
  </script>
  <%- include('./components/message-modal', {"object":"fisrtUse"}); %>
</body>
<script>
  if ("<%= request.body.firstUse %>" != undefined && "<%= request.body.firstUse %>" != null && "<%= request.body.firstUse %>" != "") {
    initMessageModal("#fisrtUse", "<%- request.body.firstUse %>", "Welcome to your sovereignty");
  }
  document.getElementById('register-link').href = getRootHost() + "/register";
</script>
</html>