<html lang="en">
  <%- include('./partials/head',{title:"Nostrcheck Server - profile"}); %>
  <link rel="stylesheet" href="/static/css/particles.css">
  <body class="d-flex flex-column h-100 background-style-2">
    <%- include('./partials/navbar', {active:'profile'}); %>
    <main class="container py-3">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col col-md-10 col-lg-9 col-xl-8 col-xxl-7">
            <div class="card">
              <div  class="rounded-top text-white d-flex flex-row" 
                    style="background-image:url('<%= request.session.metadata.banner %>');background-size: cover; height:215px;">
                <div class="ms-4 mt-5 d-flex flex-column align-middle z-1" style="width: 150px;">
                  <img src=  <%- JSON.stringify(request.session.metadata.picture)%> 
                    alt="Profile image" class="img-fluid img-thumbnail mt-5 mb-1">
                  <div class="text-center text-black ">
                    <h4><%= request.session.metadata.display_name %></h4>
                  </div>
                </div>
              </div>
              <div class="pt-2 pe-3 pb-2 text-black z-1">
                <div class="d-flex justify-content-end text-center py-1">
                  <div>
                    <p class="mb-1 h5"><%= JSON.parse(JSON.stringify(request.session.metadata.mediaFiles)).length %></p>
                    <p class="small text-muted mb-0">Media</p>
                  </div>
                  <div class="px-3">
                    <p class="mb-1 h5"><%= request.session.metadata.followers %></p>
                    <p class="small text-muted mb-0">Followers</p>
                  </div>
                  <div>
                    <p class="mb-1 h5"><%= request.session.metadata.following %></p>
                    <p class="small text-muted mb-0">Following</p> 
                  </div>
                </div>
                <div class="pt-5 ps-4 pe-4">
                    <p class="mb-0">
                      <%= request.session.metadata.about %>
                    </p>
                </div>
              </div>
              <div class="card-body p-4 text-black mb-2  z-1">
                <div class="d-flex justify-content-between align-items-center mb-4 pb-1">
                  <p class="lead fw-normal mb-0">Recent media</p>
                  <p class="mb-0"><a href="#!" class="text-muted" onclick="showAllMedia()">Show all</a></p>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-2">
                  <% for(let i = 0; i < request.session.metadata.mediaFiles.length; i++) { %>
                    <div class="col mb-0 <%= i >= 0 ? 'd-none hidden-media' : '' %>">
                      <% let file = request.session.metadata.mediaFiles[i]; %>
                      <% let ext = file.split('.').pop(); %>
                      <% if (ext === 'webp') { %>
                        <div style="background: url('media/<%= request.session.metadata.username %>/<%= file %>') center center / cover no-repeat; height: 220px;" class="rounded-3"></div>
                      <% } else if (ext === 'mp4') { %>
                        <div style="height: 220px; overflow: hidden; position: relative;" class="rounded-3">
                          <video style="width: 100%; height: 100%; object-fit: cover;" autoplay muted playsinline loop src="media/<%= request.session.metadata.username %>/<%= file %>" class="w-100 position-absolute">
                            <source  src="media/<%= request.session.metadata.username %>/<%= file %>">Your browser does not support the video tag.</video>
                        </div>
                      <% } else if (ext === 'mp3') { %>
                        <div style="height: 220px;background: url('/static/resources/banner-audio.webp') center center / cover no-repeat;" class="rounded-3 d-flex flex-column align-items-center justify-content-end pb-2">
                          <audio controls src="media/<%= request.session.metadata.username %>/<%= file %>" class="w-80 h-80">Your browser does not support the audio tag.</audio>
                        </div>
                      <% } %>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </main>
    <%- include('./partials/footer'); %>
    <div id="particles-js"></div> 
    <script src="/static/js/particles.min.js"></script>
    <script>
      particlesJS("particles-js", {"particles":{"number":{"value":80,"density":{"enable":true,"value_area":800}},"color":{"value":"#ffffff"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":0.5,"random":false,"anim":{"enable":false,"speed":1,"opacity_min":0.1,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":40,"size_min":0.1,"sync":false}},"line_linked":{"enable":true,"distance":150,"color":"#ffffff","opacity":0.4,"width":1},"move":{"enable":true,"speed":6,"direction":"none","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":1200}}},"interactivity":{"detect_on":"canvas","events":{"onhover":{"enable":false,"mode":"grab"},"onclick":{"enable":true,"mode":"push"},"resize":true},"modes":{"grab":{"distance":400,"line_linked":{"opacity":1}},"bubble":{"distance":400,"size":40,"duration":2,"opacity":8,"speed":3},"repulse":{"distance":200,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});var count_particles, update; count_particles = document.querySelector('.js-count-particles'); 
    </script>
    <script>
      const showAllMedia = () => {
        console.log('show all media')
        let hiddenMedia = document.querySelectorAll('.hidden-media');
        hiddenMedia.forEach(function(media) {
          media.classList.remove('d-none');
        });
      }
    </script>

    <%- include('./components/alert-modal', {"objectId":"profile"}); %>
  </body>
</html>