<%- include('./partials/head',{title: `${locals.serverHost} - Profile`}); %>
<link rel="stylesheet" href="/static/css/particles.css">
<style>

  .header-profile{
    height: 280px;
  }
  .bg-profile {
    height: 280px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    overflow: hidden;
    border-top-left-radius: var(--bs-border-radius) !important;
    border-top-right-radius: var(--bs-border-radius) !important;
  }

  .bg-profile video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .bg-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



  @media screen and (max-width: 400px){
    .header-profile, .bg-profile {
      height: 165px;
    }
    #picture-header {
      width: 120px;
    }
  }

  @media screen and (min-width: 400px) and (max-width: 500px){
    .header-profile, .bg-profile {
      height: 175px;
    }
    #picture-header {
      width: 130px;
    }
  }

  @media screen and (min-width: 500px) and (max-width: 576px){
    .header-profile, .bg-profile {
      height: 195px;
    }
    #picture-header {
      width: 145px;
    }
  }

  @media screen and (min-width: 576px) and (max-width: 768px){
    .header-profile, .bg-profile {
      height: 220px;
    }
    #picture-header {
      width: 160px;
    }
  }

  @media screen and (min-width: 768px){
    #name-header {
      margin-top: -30px;
    }
    #header-counters {
      justify-content: flex-end !important;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 992px){
    .header-profile, .bg-profile {
      height: 245px;
    }
    #picture-header {
      width: 180px;
    }
  }

  @media screen and (min-width: 992px){
    .header-profile, .bg-profile {
      height: 260px;
    }
    #picture-header {
      width: 200px;
    }
  }

  .profile-icon-link svg {
    margin-right: 0.3rem;
    width: 18px;
    height: 18px;
  }

</style>
<html lang="en" class="h-100">
<body class="d-flex flex-column h-100 background-theme">
  <%- include('./partials/navbar', {active:'profile'}); %>
  <main class="container-lg py-0 px-0 py-lg-3">
    <div class="row d-flex justify-content-center align-items-center gx-0">
      <div class="col col-lg-10 col-xl-9 col-xxl-8 mb-5">
        <div class="card border-0 z-1 shadow-lg">
          <div class="rounded-top header-profile">
            <div id="banner-header" class="banner-container bg-profile"></div>
            <div id="picture-header"class="ms-4 ps-2 h-100 d-flex align-items-center">
              <div class="ratio ratio-1x1 picture-container img-thumbnail overflow-hidden"></div>
            </div>
          </div>
          <div id="header-counters" class="d-flex justify-content-center text-center mt-1">
            <div class="px-2 fs-6 lead">
              <p class="small text-muted mb-0">Files: <span class="fw-medium d-block d-sm-inline-flex align-items-center"><%= JSON.parse(JSON.stringify(request.session.metadata.hostedFiles || "0")) %></span></p>
            </div>
            <div class="px-2 fs-6 lead">
              <p class="small text-muted mb-0">Following: <span class="fw-medium d-block d-sm-inline-flex align-items-center" id="following-header-count">0</span></p> 
            </div>
            <div class="px-2 fs-6 lead d-none">
              <p class="small text-muted mb-0">Followers: <span class="fw-medium d-block d-sm-inline-flex align-items-center" id="followers-header-count">0</span></p> 
            </div>
            <div class="px-2 fs-6 lead">
              <p class="small text-muted mb-0">Relays: <span class="fw-medium d-block d-sm-inline-flex align-items-center" id="relays-header-count">0</span></p> 
            </div>
            <div class="px-2 fs-6 lead">
              <p class="small text-muted mb-0">Balance: <span class="fw-normal d-block d-sm-inline-flex align-items-center" id="balance-header-count">0</span></p> 
            </div>
          </div>
          <div class="pt-1 pe-3 pb-2 z-1">
            <div class="ps-3 pe-4 ms-2">
              <h1 id="name-header" class="display-2 pt-0 d-block lead mb-2"></h1>
              <div class="d-flex flex-column align-middle mb-2 lead">
                  <span class="fs-6 profile-icon-link mb-1 d-none" id="nip05-header-row">
                    <svg viewBox="0 0 18 18" 
                      fill="none" 
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" 
                            clip-rule="evenodd" 
                            d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18ZM11.6667 6.66667C11.6667 8.13943 10.4728 9.33333 9.00004 9.33333C7.52728 9.33333 6.33337 8.13943 6.33337 6.66667C6.33337 5.19391 7.52728 4 9.00004 4C10.4728 4 11.6667 5.19391 11.6667 6.66667ZM13.6667 12.3333C13.6667 13.2538 11.5774 14 9.00004 14C6.42271 14 4.33337 13.2538 4.33337 12.3333C4.33337 11.4129 6.42271 10.6667 9.00004 10.6667C11.5774 10.6667 13.6667 11.4129 13.6667 12.3333Z" 
                            fill="currentColor">
                      </path>
                    </svg>
                    <span id="nip05-header-text"></span>
                  </span>
                  <span class="fs-6 profile-icon-link mb-1 d-none" id="website-header-row">
                    <svg  viewBox="0 0 18 18" 
                      fill="none" 
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" 
                            clip-rule="evenodd" 
                            d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18ZM10.5074 5.12274C10.7369 4.89317 11.1091 4.89317 11.3387 5.12274L12.8772 6.6612C13.1067 6.89077 13.1067 7.26298 12.8772 7.49256L10.9541 9.41563C10.7588 9.6109 10.7588 9.92748 10.9541 10.1227C11.1494 10.318 11.4659 10.318 11.6612 10.1227L13.5843 8.19966C14.2044 7.57957 14.2044 6.57419 13.5843 5.95409L12.0458 4.41563C11.4257 3.79554 10.4203 3.79554 9.80025 4.41563L7.87718 6.33871C7.68191 6.53397 7.68191 6.85055 7.87718 7.04582C8.07244 7.24108 8.38902 7.24108 8.58428 7.04582L10.5074 5.12274ZM11.0843 7.62274C11.2795 7.42748 11.2795 7.1109 11.0843 6.91563C10.889 6.72037 10.5724 6.72037 10.3772 6.91563L7.10794 10.1849C6.91268 10.3801 6.91268 10.6967 7.10794 10.892C7.30321 11.0872 7.61979 11.0872 7.81505 10.892L11.0843 7.62274ZM7.04582 8.5843C7.24108 8.38904 7.24108 8.07246 7.04582 7.8772C6.85055 7.68194 6.53397 7.68194 6.33871 7.8772L4.41563 9.80027C3.79554 10.4204 3.79554 11.4257 4.41563 12.0458L5.9541 13.5843C6.57419 14.2044 7.57957 14.2044 8.19966 13.5843L10.1227 11.6612C10.318 11.466 10.318 11.1494 10.1227 10.9541C9.92748 10.7589 9.6109 10.7589 9.41563 10.9541L7.49256 12.8772C7.26299 13.1068 6.89077 13.1068 6.6612 12.8772L5.12274 11.3387C4.89317 11.1092 4.89317 10.737 5.12274 10.5074L7.04582 8.5843Z" 
                            fill="currentColor">
                      </path>
                    </svg>
                    <a id="website-header" class="text-decoration-none" href=""></a>
                  </span>
                <span class="fs-6 profile-icon-link mb-1 d-none" id="lud16-header-row">
                  <svg  viewBox="0 0 18 18" 
                    fill="none" 
                    xmlns="http://www.w3.org/2000/svg">
                      <path d="M8.28295 7.96658L8.23361 7.95179L8.76146 5.8347C8.81784 5.84928 8.88987 5.86543 8.97324 5.88412C9.67913 6.04237 11.1984 6.38297 10.9233 7.49805C10.6279 8.67114 8.87435 8.14427 8.28295 7.96658Z" 
                            fill="currentColor">
                      </path>
                      <path d="M7.3698 11.4046L7.4555 11.43C8.18407 11.6467 10.2516 12.2615 10.532 11.0972C10.8209 9.97593 8.96224 9.53925 8.13013 9.34375C8.0389 9.32232 7.96002 9.30378 7.89765 9.28756L7.3698 11.4046Z" 
                            fill="currentColor">
                      </path>
                      <path fill-rule="evenodd" 
                            clip-rule="evenodd" 
                            d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18ZM12.8732 7.61593C13.0794 6.31428 12.1803 5.63589 10.9322 5.17799L11.3709 3.40745L10.3814 3.16221L9.95392 4.88751C9.88913 4.87105 9.82482 4.85441 9.76074 4.83784C9.56538 4.78731 9.3721 4.73731 9.17436 4.69431L9.6018 2.96901L8.58479 2.71696L8.15735 4.44226L6.13863 3.94193L5.847 5.12223C5.847 5.12223 6.59551 5.285 6.56824 5.30098C6.96889 5.40897 7.03686 5.69278 7.01489 5.90971L6.50629 7.91664L5.80746 10.7404C5.75255 10.8744 5.61847 11.0659 5.34426 10.9993C5.35573 11.012 4.61643 10.8087 4.61643 10.8087L4.12964 12.0541L6.08834 12.5875L5.65196 14.3489L6.63523 14.5926L7.07161 12.8312C7.22991 12.8767 7.38989 12.9139 7.54471 12.95C7.66051 12.9769 7.77355 13.0032 7.8807 13.0318L7.44432 14.7931L8.42939 15.0373L8.86577 13.2759C10.5611 13.5993 11.841 13.448 12.4129 11.7791C12.8726 10.4484 12.4427 9.68975 11.5496 9.18998C12.2207 9.02654 12.7174 8.56346 12.8732 7.61593Z" 
                            fill="currentColor">+
                      </path>
                  </svg>
                  <a id="lud16-header" class="text-decoration-none" href=""></a>
                </span>
                <span class="fs-6 profile-icon-link mt-1 <%= request.session.metadata.npub === '' ? 'd-none' : '' %>">
                  <button id="npub-header-btn" class="btn btn-primary" type="button" id="pubkey-copy-btn" 
                          onclick="copyToClipboard(this,document.getElementById('npub-header-btn').getAttribute('data-value'))"
                          data-value="<%= request.session.metadata.npub %>"
                          style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .8rem;">
                          <%= request.session.metadata.npub %><i class="fa-solid fa-copy ms-2"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="ps-4 pe-2 pt-1 d-none" id="about-header-row">
              <p id="about-header" class="lead"></p>
            </div>
          </div>
          <div class="z-1">
            <ul class="nav nav-tabs ps-2 pe-2 nav-fill lead" id="profileTabs" role="tablist">
              <li class="nav-item">
                <button class="nav-link fs-6 active" id="nostrNotes-tab" data-bs-toggle="tab" data-bs-target="#nostrNotes" type="button" role="tab" aria-controls="nostrNotes" aria-selected="false"><i class="fa-solid fa-comment me-2"></i></i><span class="d-none d-sm-inline lead fs-6">Notes</span></button>
              </li>
              <li class="nav-item">
                <button class="nav-link fs-6" id="hostedFiles-tab" data-bs-toggle="tab" data-bs-target="#hostedFiles" type="button" role="tab" aria-controls="mediaFiles" aria-selected="false"><i class="fa-regular fa-folder-open me-2"></i><span class="d-none d-sm-inline lead fs-6">Files</span></button>
              </li>
              <li class="nav-item">
                <button class="nav-link fs-6" id="userRelays-tab" data-bs-toggle="tab" data-bs-target="#userRelays" type="button" role="tab" aria-controls="userRelays" aria-selected="false"><i class="fa-solid fa-tower-broadcast me-2"></i><span class="d-none d-sm-inline lead fs-6">Relays</span></button>
              </li>
              <li class="nav-item">
                <button class="nav-link fs-6" id="userSettings-tab" data-bs-toggle="tab" data-bs-target="#userSettings" type="button" role="tab" aria-controls="userSettings" aria-selected="true"><i class="fa-solid fa-gear me-2"></i><span class="d-none d-sm-inline lead fs-6">Settings</span></button>
              </li>
            </ul>
            <div class="tab-content mb-3" id="profileTabsContent">
              <div class="tab-pane fade show active" id="nostrNotes" role="tabpanel" aria-labelledby="nostrNotes-tab">
                <%- include('./components/userNotes'); %>
              </div>
              <div class="tab-pane fade" id="hostedFiles" role="tabpanel" aria-labelledby="hostedFiles-tab">
                <%- include('./components/gallery', { maxImageWidth: 350, maxColumns: 3, privateGallery: true, pubkey: request.session.metadata.pubkey }) %>
              </div>
              <div class="tab-pane fade" id="userRelays" role="tabpanel" aria-labelledby="userRelays-tab">
                <%- include('./components/userRelays'); %>
              </div>
              <div class="tab-pane fade p-3" id="userSettings" role="tabpanel" aria-labelledby="userSettings-tab">
                <%- include('./components/userSettings'); %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div id="particles-js"></div> 
  <%- include('./partials/footer', {active:'profile'}); %>
  <%- include('./components/modals/media-modal', {"objectId":"#fileTable"}); %>

<script>

  document.addEventListener('DOMContentLoaded', async () => {

    // Following count
    document.getElementById('following-header-count').innerHTML = '<div class="spinner-border spinner-border-sm" role="status"></div>';
    document.getElementById('relays-header-count').innerHTML = '<div class="spinner-border spinner-border-sm" role="status"></div>';

    const following = subscribeRelays(3, "<%= request.session.metadata.pubkey %>", "from").then((following) => {
      document.getElementById('following-header-count').innerHTML = following[0]?.tags?.length || 0;

      // relays count
      document.getElementById('relays-header-count').innerHTML = userRelays.length;
    });

    // Followers count
    document.getElementById('followers-header-count').innerHTML = '<div class="spinner-border spinner-border-sm" role="status"></div>';
    const followers = subscribeRelays(3,"<%= request.session.metadata.pubkey %>", "to").then((followers) => {

      let totalTagsCount = 0;
      followers.forEach(follower => {
        totalTagsCount += follower.tags?.filter(tag => tag[0] === "p" && tag[1] === "<%= request.session.metadata.pubkey %>").length || 0;
      });

      document.getElementById('followers-header-count').innerHTML = totalTagsCount;

      // relays count
      document.getElementById('relays-header-count').innerHTML = userRelays.length;
    });

    if (localStorage.getItem('profileData')){
      document.getElementById('name-header').innerHTML = JSON.parse(localStorage.getItem('profileData')).display_name || JSON.parse(localStorage.getItem('profileData')).name || "<%= request.session.metadata.usernames[0].username %>";
      
      if (localStorage.getItem('profileData').nip05 != ''){
        document.getElementById('nip05-header-row').classList.remove('d-none');
        document.getElementById('nip05-header-text').innerHTML = JSON.parse(localStorage.getItem('profileData')).nip05;
      }

      if (localStorage.getItem('profileData').website != ''){
        document.getElementById('website-header-row').classList.remove('d-none');
        document.getElementById('website-header').innerHTML = JSON.parse(localStorage.getItem('profileData')).website;
        document.getElementById('website-header').href = JSON.parse(localStorage.getItem('profileData')).website;
      }

      if (localStorage.getItem('profileData').lud16 != ''){
        document.getElementById('lud16-header-row').classList.remove('d-none');
        document.getElementById('lud16-header').innerHTML = JSON.parse(localStorage.getItem('profileData')).lud16;
        document.getElementById('lud16-header').href = `lightning:${JSON.parse(localStorage.getItem('profileData')).lud16}`;
      }

      if (localStorage.getItem('profileData').about != ''){
        document.getElementById('about-header-row').classList.remove('d-none');
        document.getElementById('about-header').innerHTML = JSON.parse(localStorage.getItem('profileData')).about;
      }
    }

  });

  const getProfileBalance = async (pubkey) => {

    if (!pubkey) return 0;
 
    await fetch(
      `/api/v2/payments/getBalance`,
      {headers: {
            "Content-Type": "application/json",
            "authorization": "Bearer " + localStorage.getItem('authkey')
            }
      }).then(response => {
        response.json().then(async data => {
          await storeAuthkey(data.authkey)
          if (isNaN(Number(data.message))) return;
          document.getElementById('balance-header-count').classList.remove('text-warning', 'text-danger');
          data.message >= 0 ? document.getElementById('balance-header-count').classList.add('text-warning') : document.getElementById('balance-header-count').classList.add('text-danger');
          document.getElementById('balance-header-count').innerHTML = data.message + '<i class="fa-solid fa-bolt ms-1"></i>'

        });
      }).catch(error => {
        
      });
  }

  // Profile balance
  semaphore.execute(async () => {await getProfileBalance("<%= request.session.metadata.pubkey %>")});
  setInterval(() => {
    semaphore.execute(async () => {await getProfileBalance("<%= request.session.metadata.pubkey %>")});
  }, 10000);

  function activateTabFromHash() {
    const hash = window.location.hash;
    if (hash) {
      const tabLink = document.querySelector(`button[data-bs-target="${hash}"]`);
        if (tabLink) {
            const tab = new bootstrap.Tab(tabLink);
            tab.show();
        }
    }
  }

  window.addEventListener('load', activateTabFromHash);

  document.querySelectorAll('.nav-link').forEach(link => {
      link.addEventListener('shown.bs.tab', function (e) {
          history.pushState(null, null, e.target.getAttribute('href'));
      });
  });

  // Header npub button
  window.addEventListener('resize', function() {
    const headerNpub = document.getElementById('npub-header-btn');
    const fullText = headerNpub.getAttribute('data-value'); 
    const windowWidth = window.innerWidth;
    let visibleChars = Math.max(17, Math.floor(windowWidth / 50)); 

    if (visibleChars * 2 > fullText.length) {
        visibleChars = Math.floor(fullText.length / 2) - 2; 
    }

    const start = fullText.slice(0, visibleChars);
    const end = fullText.slice(-visibleChars);

    headerNpub.innerHTML = `${start}:${end} <i class="fa-solid fa-copy ms-2"></i>`;
  });
  window.dispatchEvent(new Event('resize'));

</script>
</body>
<%- include('./components/modals/message-modal', {"object":"profile"}); %>

</html>
