<html lang="en">
  <%- include('./partials/head',{title: `${request.body.serverHost} - Login`}); %>
  <link rel="stylesheet" href="/static/css/form.css">
  <body class="d-flex flex-column h-100">
    <%- include('./partials/navbar', {active:'register'}); %>
    <main>
      <%- include('./components/registerform'); %>
    </main>
    <%- include('./partials/footer', {active:'register'}); %>
    <%- include('./components/alert-modal', {"objectId":"register"}); %>
  </body>
</html>