<html lang="en">
  <%- include('./partials/head',{title: `${locals.serverHost} - Register`}); %>
  <link rel="stylesheet" href="/static/css/form.css">
  <body class="d-flex flex-column h-100">
    <%- include('./partials/navbar', {active:'register'}); %>
    <main>
      <%- include('./components/registerform'); %>
    </main>
    <%- include('./partials/footer', {active:'register'}); %>
    <%- include('./components/modals/alert-modal', {"objectId":"register"}); %>
    <%- include('./components/modals/message-modal', {"object":"fisrtUse"}); %>
  </body>
  <script>
    if ("<%= locals.firstUse %>" != undefined && "<%= locals.firstUse %>" != null && "<%= locals.firstUse %>" != "") {
      initMessageModal("#fisrtUse", "<%- locals.firstUse %>", "Welcome to your sovereignty");
    }
  </script>
</html>