<html lang="en">
<%- include('./partials/head',{title: `${locals.serverHost} - Relay`}); %>
<link rel="stylesheet" href="/static/css/particles.css">
<body class="d-flex flex-column h-100">
  <%- include('./partials/navbar', {active:'relay'}); %>
  <div class="background-theme overflow-scroll">
    <div class="container px-4 px-lg-5 d-flex align-items-center justify-content-center">
        <div class="d-flex justify-content-center" style="min-height: 100%;">
            <div class="text-center z-1 mt-4">
                <h1 class="text-white mx-auto my-0 gradien display-4"><%= locals.serverHost %> relay</h1>
                <h2 class="text-white-50 mx-auto mt-1 mb-4 display-6">Last notes from our community</h2>
                <div class="d-flex align-items-center justify-content-center">
                  <button id="relay-url-btn" class="btn btn-primary ms-2" type="button" 
                    onclick="copyToClipboard(this,document.getElementById('relay-url-btn').getAttribute('data-value'))"
                    data-value="wss://relay.<%= locals.serverHost %>"
                    style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1.2rem;">
                    wss://relay.<%= locals.serverHost %><i class="fa-solid fa-copy ms-2"></i>
                  </button>
                </div>
               
                <div class="container mt-4">
                  <div class="row">
                    <% locals.lastRelayNotes.forEach(note => { %>
                        <div class="col-12 col-md-6 col-xl-3">
                            <div class="card mb-4" style="min-height: 180px;">
                                <div class="card-body">
                                    <p class="card-text"><%= note.content.toString().trim().substring(0, 100) %></p>
                                </div>
                                <div class="card-footer text-muted">
                                  Published <%= new Date(note.created_at * 1000).toLocaleString(undefined, { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: false }) %>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                  </div>
                </div>
                
            </div>
        </div>
    </div>
  </div>
  <div id="particles-js"></div> 
  <%- include('./partials/footer', {active:'relay'}); %>
  <%- include('./components/modals/message-modal', {"object":"fisrtUse"}); %>
</body>
<script>
  if ("<%= locals.firstUse %>" != undefined && "<%= locals.firstUse %>" != null && "<%= locals.firstUse %>" != "") {
    initMessageModal("#fisrtUse", "<%- locals.firstUse %>", "Welcome to your sovereignty");
  }
</script>
</html>