<html lang="en">
  <%- include('./partials/head',{title: `${locals.serverHost} - Settings`}); %>
  <link rel="stylesheet" href="/static/css/form.css">
   <body class="d-flex flex-column h-100">
    <%- include('./partials/navbar', {active:'settings'}); %>
    <main class="pb-1">
      <div class="container-fluid col-12 col-md-11 col-lg-10" style="max-width: 1050px;">
        <div class="text-center"><h1 class="display-2 mt-2 pb-2 gradient-text">Server settings</h1></div>
        <p class="text-center mt-1 mb-4 lead">Not your server, not your rules. Be sovereing here.        
        </p>
        <ul class="nav nav-tabs" id="settingsTabs" role="tablist">
          <li class="nav-item" role="presentation">
              <button class="nav-link active" 
                      id="lookandfeel-tab" 
                      data-bs-toggle="tab" 
                      data-bs-target="#lookandfeel" 
                      type="button" 
                      role="tab" 
                      aria-controls="lookandfeel" 
                      aria-selected="true">
                        <i class="fas fa-paint-brush me-2"></i><span>Personalization</span>
              </button>
          </li>
          <li class="nav-item" role="presentation">
              <button class="nav-link" 
                      id="server-tab" 
                      data-bs-toggle="tab" 
                      data-bs-target="#server" 
                      type="button" 
                      role="tab" 
                      aria-controls="server" 
                      aria-selected="false">
                        <i class="fas fa-server me-2"></i>Server
              </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" 
                    id="database-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#database" 
                    type="button" 
                    role="tab" 
                    aria-controls="database" 
                    aria-selected="false">
                      <i class="fas fa-database me-2"></i>Database
            </button>
          </li>
          <li class="nav-item" role="presentation">
              <button class="nav-link" 
                      id="modules-tab" 
                      data-bs-toggle="tab" 
                      data-bs-target="#modules" 
                      type="button" 
                      role="tab" 
                      aria-controls="modules" 
                      aria-selected="false">
                        <i class="fas fa-puzzle-piece me-2"></i>Modules
              </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" 
                    id="logging-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#logging" 
                    type="button" 
                    role="tab" 
                    aria-controls="logging" 
                    aria-selected="false">
                    <i class="fas fa-clipboard-list me-2"></i>Logging
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link <%= locals.availableModules['security'] && locals.availableModules['security'].enabled ? '' : 'disabled' %>" 

                    id="security-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#security" 
                    type="button" 
                    role="tab" 
                    aria-controls="security" 
                    aria-selected="false"
                    <%= locals.availableModules['security'] && locals.availableModules['security'].enabled ? '' : 'disabled' %>>
                    <i class="fas fa-shield-alt me-2"></i>Security
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link <%= locals.availableModules['media'] && locals.availableModules['media'].enabled ? '' : 'disabled' %>" 
                    id="storage-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#storage" 
                    type="button" 
                    role="tab" 
                    aria-controls="storage" 
                    aria-selected="false" 
                    <%= locals.availableModules['media'] && locals.availableModules['media'].enabled ? '' : 'disabled' %>>
                    <i class="fas fa-hdd me-2"></i>Storage
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link <%= locals.availableModules['register'] && locals.availableModules['register'].enabled ? '' : 'disabled' %>" 
                    id="register-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#register" 
                    type="button" 
                    role="tab" 
                    aria-controls="register" 
                    aria-selected="false" 
                    <%= locals.availableModules['register'] && locals.availableModules['register'].enabled ? '' : 'disabled' %>>
                    <i class="fa-solid fa-address-card me-2"></i>Register
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link <%= locals.availableModules['media'] && locals.availableModules['media'].enabled ? '' : 'disabled' %>" 
                    id="media-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#media" 
                    type="button" 
                    role="tab" 
                    aria-controls="media" 
                    aria-selected="false" 
                    <%= locals.availableModules['media'] && locals.availableModules['media'].enabled ? '' : 'disabled' %>>
                    <i class="fas fa-photo-video me-2"></i>Media
            </button>
         </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link <%= locals.availableModules['payments'] && locals.availableModules['payments'].enabled ? '' : 'disabled' %>" 
                    id="payments-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#payments" 
                    type="button" 
                    role="tab" 
                    aria-controls="payments" 
                    aria-selected="false" 
                    <%= locals.availableModules['payments'] && locals.availableModules['payments'].enabled ? '' : 'disabled' %>>
                    <i class="fas fa-bolt me-2"></i>Payments
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link <%= locals.availableModules['plugins'] && locals.availableModules['plugins'].enabled ? '' : 'disabled' %>" 
                    id="plugins-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#plugins" 
                    type="button" 
                    role="tab" 
                    aria-controls="plugins" 
                    aria-selected="false" 
                    <%= locals.availableModules['plugins'] && locals.availableModules['plugins'].enabled ? '' : 'disabled' %>>
                    <i class="fas fa-plug me-2"></i>Plugins
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link <%= locals.availableModules['relay'] && locals.availableModules['relay'].enabled ? '' : 'disabled' %>" 
                    id="relay-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#relay" 
                    type="button" 
                    role="tab" 
                    aria-controls="relay" 
                    aria-selected="false" 
                    <%= locals.availableModules['relay'] && locals.availableModules['relay'].enabled ? '' : 'disabled' %>>
                    <i class="fas fa-wifi me-2"></i>Relay
            </button>
          </li>
        </ul>
        <div class="tab-content" id="settingsTabsContent">
          <div class="tab-pane fade show active" id="lookandfeel" role="tabpanel" aria-labelledby="lookandfeel-tab">
            <%- include('./components/settings/lookandfeel'); %>
          </div>
          <div class="tab-pane fade" id="server" role="tabpanel" aria-labelledby="server-tab">
            <%- include('./components/settings/server'); %>
          </div>
          <div class="tab-pane fade" id="database" role="tabpanel" aria-labelledby="database-tab">
            <%- include('./components/settings/database'); %>
          </div>
          <div class="tab-pane fade" id="modules" role="tabpanel" aria-labelledby="modules-tab">
            <%- include('./components/settings/modules'); %>
          </div>
          <div class="tab-pane fade" id="storage" role="tabpanel" aria-labelledby="storage-tab">
            <%- include('./components/settings/storage'); %>
          </div>
          <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
            <%- include('./components/settings/register'); %>
          </div>
          <div class="tab-pane fade" id="media" role="tabpanel" aria-labelledby="media-tab">
            <%- include('./components/settings/media'); %>
          </div>
          <div class="tab-pane fade" id="logging" role="tabpanel" aria-labelledby="logging-tab">
            <%- include('./components/settings/logging'); %>
          </div>
          <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
            <%- include('./components/settings/security'); %>
          </div>
          <div class="tab-pane fade" id="plugins" role="tabpanel" aria-labelledby="plugins-tab">
            <%- include('./components/settings/plugins'); %>
          </div>
          <div class="tab-pane fade" id="payments" role="tabpanel" aria-labelledby="payments-tab">
            <%- include('./components/settings/payments'); %>
          </div>
          <div class="tab-pane fade" id="relay" role="tabpanel" aria-labelledby="relay-tab">
            <%- include('./components/settings/relay'); %>
          </div>
        </div>
    </main>
    <%- include('./partials/footer', {active:'setting'}); %>    
    <%- include('./components/modals/alert-modal', {"objectId":"settings"}); %>

<script src="/static/js/form.js"></script>
<script src="/static/js/settings.js"></script>

<script>
  let logHistory = "<%= locals.logHistory %>"
  window.logData = <%- JSON.stringify(locals.logHistory || []) %>;
</script>
</body>
<style>
.gradient-bar {
    position: relative;
    height: 300px; 
    width: 100%; 
    border-radius: 5px; 
    margin-top: 10px;
}

.gradient-bar .handle {
    position: absolute;
    bottom: 25%;
    width: 9px;
    height: 40%;
    background: #fff;
    cursor: ew-resize;
    border-radius: 3px;
}

</style>
</html>