<html lang="en">
  <%- include('./partials/head',{title:"Nostrcheck Server - Home"}); %>
  <link rel="stylesheet" href="/static/css/form.css">
  <body class="d-flex flex-column h-100">
    <%- include('./partials/navbar', {active:'settings'}); %>
    <main class="pb-1">
      <div class="container">
        <h1 class="text-center">Server settings</h1>
        <%- include('./components/settings-form'); %>
      </div>
    </main>
    <%- include('./partials/footer'); %>
    <%- include('./components/alert-modal', {"objectId":"settings"}); %>
    <script src="/static/js/form.js"></script>
    <script src="/static/js/settings.js"></script>
    <script>
      let authkey = "<%= request.session.authkey %>" 
    </script>
  </body>
</html>