<html lang="en">
  <%- include('./partials/head',{title: `${request.body.serverHost} - Terms of service`}); %>
  <body class="d-flex flex-column h-100">
    <%- include('./partials/navbar', {active:"tos"}); %>
    <main class="pb-1">
      <div class="container mt-3">
        <div class="col-xl-10 col-lg-11 col-md-12 col-sm-12">
          <%- tos %>
        </div>
      </div>
    </main>
    <%- include('./partials/footer'); %>
    <%- include('./components/alert-modal', {"objectId":"fisrtUse"}); %>
  </body>
  <script>
    if ("<%= request.body.firstUse %>" != undefined && "<%= request.body.firstUse %>" != null && "<%= request.body.firstUse %>" != "") {
      initAlertModal("#fisrtUse", "<%- request.body.firstUse %>", 50000);
    }
  </script>
</html>