<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-2">
    <% for(let i=request.session.metadata.mediaFiles.length - 1; i>= 0; i--) { %>
        <div class="col mb-0 fade-in">
            <% let file=request.session.metadata.mediaFiles[i]; %>
                <% let ext=file.split('.').pop(); %>
                    <% if (ext==='webp' || ext==='gif' || ext==='jpg' || ext==='jpeg' ) { %>
                        <img 
                            src="/static/resources/loading-image.webp"
                            data-src="media/<%= request.session.metadata.username %>/<%= file %>"
                            style="height: 220px;" 
                            class="rounded-3 w-100 object-fit-cover" 
                            loading="lazy">
                        <% } else if (ext==='mp4' || ext==='mov' ) { %>
                            <video data-src="media/<%= request.session.metadata.username %>/<%= file %>"
                                style="height: 220px;" 
                                class="rounded-3 w-100 object-fit-cover" 
                                autoplay muted playsinline loop 
                                loading="lazy"
                                poster="/static/resources/loading-video.webp">
                                    <source data-src="media/<%= request.session.metadata.username %>/<%= file %>">Your browser does not support the video tag.
                            </video>
                        <% } else if (ext==='mp3' ) { %>
                            <div style="height: 220px;background: url('/static/resources/loading-music.webp') center center / cover no-repeat;"
                                class="rounded-3 d-flex flex-column align-items-center justify-content-end pb-2">
                                <audio controls
                                    data-src="media/<%= request.session.metadata.username %>/<%= file %>"
                                    class="w-75 h-75" 
                                    loading="lazy">Your browser does not support the audio
                                    tag.
                                </audio>
                            </div>
                        <% } %>
        </div>
        <% } %>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                const media = entry.target;
                if (entry.isIntersecting) {

                    media.parentElement.style.opacity = 1;
                    media.parentElement.parentElement.style.opacity = 1; // For audio elements
                    media.setAttribute('src', media.getAttribute('data-src'));

                    if (media.tagName === 'VIDEO') {
                        media.play();
                    }
                } else {
                    if (media.tagName === 'VIDEO') {
                        media.pause();
                        // media.currentTime = 0;
                        // media.removeAttribute('src'); 
                        // media.load();
                    }
                }
            });
        });

        const medias = document.querySelectorAll('img[data-src], video[data-src], audio[data-src]');
        medias.forEach(media => {
            observer.observe(media);
        });
    });
</script>