<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2 ps-3 pe-3">
  <a class="navbar-brand" href="/">
      <img src="../resources/navbar-logo.webp"
      alt='Nostrcheck server logo' 
      width='150' 
      height='51'>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#server-navbar" aria-controls="server-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="server-navbar">
    <ul class="navbar-nav me-auto">
      <li <% if(active === 'home'){ %><%- "class='nav-item active'"%><% } else { %><%- "class='nav-item'"%><%}%>>
        <a class="nav-link" href="/"><i class="fa-solid fa-house me-2"></i>Home <span class="sr-only">(current)</span></a>
      </li>
      <li <% if(active === 'dashboard'){ %><%- "class='nav-item active'"%><% } else { %><%- "class='nav-item'"%><%}%> <% if (!request.session.identifier) { %>style="display: none;"<% } %>>
        <a class="nav-link" href="/dashboard"><i class="fa-solid fa-gauge me-2"></i>Dashboard</a>
      </li>
      <li <% if(active === 'tos'){ %><%- "class='nav-item active'"%><% } else { %><%- "class='nav-item'"%><%}%>>
        <a class="nav-link" href="/tos"><i class="fa-solid fa-file-contract me-2"></i>Terms of Service</a>
      </li>
      <li <% if(active === 'login'){ %><%- "class='nav-item active'"%><% } else { %><%- "class='nav-item'"%><%}%> <% if (request.session.identifier) { %>style="display: none;"<% } %>>
        <a class="nav-link" href="/login"><i class="fa-solid fa-user  me-2"></i></i> Log In</a>
      </li>
      <li <% if(active === 'logout'){ %><%- "class='nav-item active'"%><% } else { %><%- "class='nav-item'"%><%}%> <% if (!request.session.identifier) { %>style="display: none;"<% } %>>
        <a class="nav-link" href="/logout"><i class="fa-solid fa-right-to-bracket me-2"></i>Logout</a>
      </li>

    </ul>
  </div>
</nav>