<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2">
  <a class="navbar-brand" href="/">
      <img src="../resources/navbar-logo.webp"
      alt='Nostrcheck server logo' 
      width='150' 
      height='51'>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample05">
    <ul class="navbar-nav mr-auto">
      <li <% if(active === 'home'){ %><%- "class='nav-item active'"%><% } else { %><%- "class='nav-item'"%><%}%>>
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li <% if(active === 'dashboard'){ %><%- "class='nav-item active'"%><% } else { %><%- "class='nav-item'"%><%}%> <% if (!request.session.pubkey) { %>style="display: none;"<% } %>>
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li <% if(active === 'tos'){ %><%- "class='nav-item active'"%><% } else { %><%- "class='nav-item'"%><%}%>>
        <a class="nav-link" href="/tos">Terms of Service</a>
      </li>
      <li <% if(active === 'login'){ %><%- "class='nav-item active'"%><% } else { %><%- "class='nav-item'"%><%}%> <% if (request.session.pubkey) { %>style="display: none;"<% } %>>
        <a class="nav-link" href="/login">Log In</a>
      </li>
      <li <% if(active === 'logout'){ %><%- "class='nav-item active'"%><% } else { %><%- "class='nav-item'"%><%}%> <% if (!request.session.pubkey) { %>style="display: none;"<% } %>>
        <a class="nav-link" href="/logout">Logout</a>
      </li>

    </ul>
  </div>
</nav>