<nav class="navbar sticky-top navbar-expand-lg ps-3 pe-3 shadow-lg">
  <a class="navbar-brand" href="/">
      <img id="server-logo" src="/static/resources/navbar-logo.webp"
      alt='Nostrcheck server logo' 
      width='150' 
      height='51'>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#server-navbar" aria-controls="server-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="profile-dropdown">
    <ul class="navbar-nav ms-auto">
      <li class="d-flex">
        <span class='dropdown-item  me-1 me-lg-0'><%- include('../components/theme-toggle'); %></span>
        <a <% if (request.session.identifier) { %>style="display: none;"<% } %> <% if(active === 'login'){ %><%- "class='nav-link active mt-1'"%><% } else { %><%- "class='nav-link mt-1'"%><%}%> href="login"><i class="fa-solid fa-user fa-lg mt-2 pt-2 me-1"></i></a>
      </li>
      <li  class="nav-item dropdown"  <% if (!request.session.identifier) { %>style="display: none;"<% } %> >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img <% if (request.session.identifier) { %>src=  <%- JSON.stringify(request.session.metadata.picture)%> <% }%> width="40" height="40" class="rounded-circle">
          <span class="ms-2 d-none d-lg-inline"><% if (request.session.identifier) { %> <%= request.session.metadata.display_name %> <% }else{"Profile"} %></span>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="profile"  <% if(active === 'profile'){ %><%- "class='dropdown-item active'"%><% } else { %><%- "class='dropdown-item'"%><%}%>>Profile</a>
          <a href="dashboard" <% if(active === 'dashboard'){ %><%- "class='dropdown-item active'"%><% } else { %><%- "class='dropdown-item'"%><%}%>>Dashboard</a>
          <a href="settings" <% if(active === 'settings'){ %><%- "class='dropdown-item active'"%><% } else { %><%- "class='dropdown-item'"%><%}%>>Settings</a>
          <div class="dropdown-divider"></div>
          <a href="logout" class="dropdown-item">Logout</a>
      </div>
      </li>  
    </ul>
    </div>  
  <div class="collapse navbar-collapse" id="server-navbar">
    <ul class="nav navbar-nav">
      <li >
        <a <% if(active === 'home'){ %><%- "class='nav-link active'"%><% } else { %><%- "class='nav-link'"%><%}%> href="/api/v2/"><i class="fa-solid fa-house me-2"></i>Home <span class="sr-only">(current)</span></a>
      </li>
      <li >
        <a  <% if(active === 'tos'){ %><%- "class='nav-link active'"%><% } else { %><%- "class='nav-link'"%><%}%> href="tos"><i class="fa-solid fa-file-contract me-2"></i>Terms of Service</a>
      </li>
      <li >
        <a <% if(active === 'documentation'){ %><%- "class='nav-link active'"%><% } else { %><%- "class='nav-link'"%><%}%> href="documentation"><i class="fa-solid fa-book me-2"></i>Docs <span class="sr-only">(current)</span></a>
      </li>
      <li >
        <a <% if(active === 'register'){ %><%- "class='nav-link active'"%><% } else { %><%- "class='nav-link'"%><%}%> href="register"><i class="fa-solid fa-user-plus me-2"></i>Register <span class="sr-only">(current)</span></a>
      </li>
      <li >
        <a <% if(active === 'gallery'){ %><%- "class='nav-link active'"%><% } else { %><%- "class='nav-link'"%><%}%> href="gallery"><i class="bi bi-image-fill me-2"></i></i>Public gallery <span class="sr-only">(current)</span></a>
      </li>               
    </ul>
  </div>


</nav>
<style>

html[data-bs-theme="light"] {
    .navbar-brand img {
      filter: invert(80%);
    }
    .navbar {
      background-color: #e8e8e8f5 !important;
    } 
}

html[data-bs-theme="dark"] {
    .navbar {
      background-color:#2b3035 !important;
    } 
}

.dropdown-menu { --bs-dropdown-link-active-bg: #a575ff; }

#profile-dropdown {
  position: absolute;
  right: 10;
  top: auto;
}

@media (max-width: 992px) {
  #profile-dropdown {
    position: absolute;
    right: 85;
    top: 10;
  }
  #profile-dropdown .navbar-nav {
    display: flex;
    flex-direction: row;
  }
  #profile-dropdown .navbar-nav .dropdown-menu {
    position: absolute;
  }

}
</style>