<nav class="navbar sticky-top navbar-expand-lg ps-3 pe-3 shadow-lg">
  <a class="navbar-brand" href="/">
    <img id="server-logo" src="/static/resources/navbar-logo-light.png" 
    alt='Server logo' 
    width='180' 
    height='61'>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#server-navbar" aria-controls="server-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="profile-dropdown">
    <ul class="navbar-nav ms-auto align-items-center">
      <li>
        <span class='dropdown-item'><%- include('../components/theme-toggle'); %></span>
      </li>
      <li class="d-none d-lg-flex">
        <button 
          class="nav-link" 
          type="button" 
          aria-controls="intro" 
          aria-selected="false" 
          aria-label="Upload file" 
          onclick="semaphore.execute(async () => {await initUploaderModal();})" 
          >
          <span class="fs-2">
            <i class="bi bi-cloud-arrow-up-fill" aria-hidden="true"></i>
            <span class="visually-hidden">Upload file</span>
          </span>
        </button>
      </li>
      <li class="d-none d-lg-flex">
        <a <% if (request.session.identifier) { %>style="display: none !important;"<% } %> <% if(active === 'login'){ %><%- "class='nav-link active  d-none d-lg-flex'"%><% } else { %><%- "class='nav-link '"%><%}%> href="login"><i class="fa-solid fa-user fa-lg me-1"></i></a>
      </li>
      <li class="nav-item dropdown d-none d-lg-flex"  <% if (!request.session.identifier) { %>style="display: none !important;"<% } %> >
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="picture-container" style="width:40px; height:40px;"></div>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="profile"  <% if(active === 'profile'){ %><%- "class='dropdown-item active'"%><% } else { %><%- "class='dropdown-item'"%><%}%>>Profile</a>
          <% if (request.session.allowed == true) { %>
            <a href="dashboard" <% if(active === 'dashboard'){ %><%- "class='dropdown-item active'"%><% } else { %><%- "class='dropdown-item'"%><%}%>>Dashboard</a>
            <a href="settings" <% if(active === 'settings'){ %><%- "class='dropdown-item active'"%><% } else { %><%- "class='dropdown-item'"%><%}%>>Settings</a>
          <%}%>
          <div class="dropdown-divider"></div>
          <button class="nav-link" type="button" aria-controls="intro" aria-selected="false" aria-label="Logout" onclick="logout()">
            <span><i class="fa-solid fa-right-from-bracket ms-1 me-2"></i>Logout</span>
          </button>
      </div>
      </li>  
    </ul>
  </div>  
  <div class="collapse navbar-collapse" id="server-navbar">
    <ul class="nav navbar-nav">
      <li>
        <a <% if(active === 'home'){ %><%- "class='nav-link active'"%><% } else { %><%- "class='nav-link'"%><%}%> href="/api/v2/"><i class="fa-solid fa-house me-2"></i>Home <span class="sr-only">(current)</span></a>
      </li>
      <li id="registerMenu">
        <a <% if(active === 'register'){ %><%- "class='nav-link active'"%><% } else { %><%- "class='nav-link'"%><%}%> href="register"><i class="fa-solid fa-address-book me-2"></i>Register <span class="sr-only">(current)</span></a>
      </li>
      <li id="galleryMenu">
        <a <% if(active === 'gallery'){ %><%- "class='nav-link active'"%><% } else { %><%- "class='nav-link'"%><%}%> href="gallery"><i class="bi bi-image-fill me-2"></i></i>Gallery <span class="sr-only">(current)</span></a>
      </li>
      <li id="cdnMenu">
        <a  <% if(active === 'cdn'){ %><%- "class='nav-link active'"%><% } else { %><%- "class='nav-link'"%><%}%> href="media"><i class="fa-solid fa-server me-2"></i>Upload</a>
      </li>   
      <li id="docsMenu">
        <a <% if(active === 'documentation'){ %><%- "class='nav-link active'"%><% } else { %><%- "class='nav-link'"%><%}%> href="documentation"><i class="fa-solid fa-book me-2"></i>Docs <span class="sr-only">(current)</span></a>
      </li>  
      <li id="directoryMenu">
        <a <% if(active === 'directory'){ %><%- "class='nav-link active'"%><% } else { %><%- "class='nav-link'"%><%}%> href="directory"><i class="fa-solid fa-address-book me-2"></i>Directory <span class="sr-only">(current)</span></a>
      </li>          
    </ul>
  </div>
</nav>
<%- include('../components/modals/uploader-modal', {instance: "navbar", hideTos:false}) %>
<style>

html[data-bs-theme="light"] .navbar {
  background-color: #e8e8e8f5 !important;
}

html[data-bs-theme="dark"] .navbar {
      background-color:#2b3035 !important;
} 

.dropdown-menu { --bs-dropdown-link-active-bg: #a575ff; }

#profile-dropdown {
  position: absolute;
  right: 10;
  top: auto;
}

@media (max-width: 994.98px) {
  #profile-dropdown {
    position: absolute;
    right: 85;
    top: 10;
  }
  #profile-dropdown .navbar-nav {
    display: flex;
    flex-direction: row;
  }
  #profile-dropdown .navbar-nav .dropdown-menu {
    position: absolute;
  }

}
</style>
<script>
  // Hide or show navbar items based on active modules
  const activeModules = [];
  <% for(const key in locals.activeModules) { %>
    activeModules.push('<%- locals.activeModules[key] %>');
  <% } %>
  activeModules.find((element) => element === 'register') ? null : document.getElementById('registerMenu').classList.add('d-none');
  activeModules.find((element) => element === 'register') ? null : document.getElementById('directoryMenu').classList.add('d-none');
  activeModules.find((element) => element === 'media') ? null : document.getElementById('galleryMenu').classList.add('d-none');
  activeModules.find((element) => element === 'media') ? null : document.getElementById('cdnMenu').classList.add('d-none');
</script>