<div id="settingsLogger">
    <h3 class="mt-4">Logging</h3>
    <form class="form mx-auto">
        <p> In this section, you can configure the log settings of your server. The log level determines the verbosity of the logs. For best performance, the recommended
            log level is <b>Warning</b>. If you want to see more detailed logs, you can change it to <b>Info</b> or <b>Debug</b>. 
        </p>
        <label for="logger.level" class="mt-2 mb-1 fw-bold">Log level</label>
        <div class="col-3 col-md-2">
            <select id="logger.minLevel" 
            name="logger.minLevel" 
            class="form-select">
                <option value="2" <%= locals.settingsLogger['minLevel'] == 2 ? 'selected' : '' %>>Debug</option>
                <option value="3" <%= locals.settingsLogger['minLevel'] == 3 ? 'selected' : '' %>>Info</option>
                <option value="4" <%= locals.settingsLogger['minLevel'] == 4 ? 'selected' : '' %>>Warning</option>
                <option value="5" <%= locals.settingsLogger['minLevel'] == 5 ? 'selected' : '' %>>Error</option>
            </select>
        </div>
        <div class="alert alert-warning mt-3" role="alert">
            <i class="fa-solid fa-triangle-exclamation"></i> <b>Change this only if you know what you are doing.</b> After changing the log level, you need to <b>restart the server</b> to apply the changes.
        </div>
        <label for="logger.sendDM" class="mt-2 mb-1 fw-bold">Send logs by DM</label>
        <div class="col-3 col-md-2 mb-1">
            <div class="form-check form-switch">
                <input 
                class="form-check-input" 
                type="checkbox" 
                value="<%= locals.settingsLogger['sendDM'] ? true : false %>"
                <%= locals.settingsLogger['sendDM'] ? 'checked' : '' %>
                name="logger.sendDM"
                id="logger.sendDM"
                >
            </div>
        </div>
        <p>If enabled, the server will send a direct message including logs with a severity greater than 4 (warning or error).</p>
        <label for="logger.sendPubkey" class="mt-2 mb-1 fw-bold">Pubkey</label>
        <p> Specify the public key of the user to send the logs to. If you leave it empty, the logs will be sent to the server pubkey by default.</p>
        </p>
        <input 
        type="text" 
        class="form-control" 
        id="logger.sendPubkey" 
        name="logger.sendPubkey" 
        value="<%= locals.settingsLogger['sendPubkey'] %>"
        >
        <div class="col-12 col-md-3 mb-5 mt-4 pb-5 pb-lg-0 mb-lg-2">
            <button class="btn btn-lg mb-4 btn-primary w-100" name="Submit" type="button" onclick="saveSettings()">Save</button>
        </div>
    </form>
</div>