<div id="settingsPayments">
    <h3 class="mt-4">Payments</h3>
    <form class="form mx-auto">
        <p> In this section, you can configure the LN payment provider of your server. Currently only GetAlby is supported. 
        </p>
        <label for="payments.provider" class="mt-2 mb-1 fw-bold">Payment provider</label>
        <p>Choose the payment provider for your server. Currently only <a href="https://lnbits.com/" target="_blank">LNbits</a> and <a href="https://getalby.com/" target="_blank">Alby</a> are supported.
        </p>
        <div class="col-12 col-md-4">
            <select id="payments.paymentProvider" name="payments.paymentProvider" class="form-select">
                <% 
                    const paymentProviders = Object.keys(request.body.settingsPayments.paymentProviders);
                    for (let provider of paymentProviders) { 
                %>
                    <option value="<%= provider %>" 
                        <% if (request.body.settingsPayments.paymentProvider === provider) { %> 
                            selected 
                        <% } %>
                    ><%= provider %></option>
                <% } %>
            </select>
        </div>
        <label for="payments.maxSatoshi" class="mt-4 mb-1 fw-bold">Max Satoshi</label>
        <p>
            The following two fields allow you to configure the payment structure for new user registrations and file uploads. 
            These settings determine the maximum amount of sats that can be charged, ensuring that shorter usernames and 
            larger files are priced accordingly. Additionally, setting the value to 0 for either field will disable the payment requirement for the 
            respective action (user registration or file uploads).
        </p>
        <div class="row">
            <div class="col-12 col-md-4">
                <label for="payments.satoshi.mediaMaxSatoshi" class="mt-2 mb-1 fw-bold">File uploads</label>
                <input  type="number" 
                        id="payments.satoshi.mediaMaxSatoshi" 
                        name="payments.satoshi.mediaMaxSatoshi" 
                        class="form-control" 
                        value="<%= request.body.settingsPayments['satoshi']['mediaMaxSatoshi'] %>" 
                        placeholder="ex. 1000" 
                        step="50"
                        required
                        > 
            </div>
            <div class="col-12 col-md-4">
                <label for="payments.satoshi.registerMaxSatoshi" class="mt-2 mb-1 fw-bold">Register form</label>
                <input  type="number" 
                        id="payments.satoshi.registerMaxSatoshi"
                        name="payments.satoshi.registerMaxSatoshi"
                        class="form-control" 
                        value="<%= request.body.settingsPayments['satoshi']['registerMaxSatoshi'] %>" 
                        placeholder="ex. 1000" 
                        step="50"
                        required
                        > 
            </div>
        </div>
        <div class="alert alert-warning mt-3" role="alert">
            <i class="fa-solid fa-triangle-exclamation"></i> In the dashboard's <a href="dashboard#domains">Domains</a> section, you can customize the payment settings for each domain.
            If a domain isn't configured, the default values set here will be automatically applied.
        </div>
        <label for="payments.allowUnpaidFiles" class="mt-4 mb-1 fw-bold">Allow unpaid files</label>
        <p>
            Specify whether file uploads are allowed without prior payment. If set to inactive, 
            file uploads are only permitted if the user has already paid the required amount of sats. If set to active, 
            file uploads will be allowed, but payment in sats will be required for each request until the invoice is fully paid.
        </p>
        <div class="col-12 col-md-4">
            <div class="form-check form-switch">
                <input 
                    class="form-check-input" 
                    type="checkbox" 
                    name="payments.allowUnpaidFiles" 
                    id="payments.allowUnpaidFiles" 
                    <%= request.body.settingsPayments['allowUnpaidFiles'] ? 'checked' : '' %> 
                >
            </div>
        </div>
        <div class="row">
            <label for="payments.invoicePaidInterval" class="mt-4 mb-1 fw-bold">Invoice paid interval</label>
            <p>Specify the interval in seconds to check if pending invoices are paid.</p>
            <div class="col-12 col-md-4">
                <div class="input-group mb-3 mt-2"  data-bs-tooltip="test">
                <input  type="number" 
                        id="payments.invoicePaidInterval" 
                        name="payments.invoicePaidInterval" 
                        class="form-control" 
                        value="<%= request.body.settingsPayments['invoicePaidInterval'] %>" 
                        placeholder="Example 60 seconds" 
                        required
                        step="10"
                        >  
                <span class="input-group-text">seconds</span>
                </div>
            </div>
        </div>
        <label for="payments.LNAddress" class="mt-4 mb-1 fw-bold"> LN address</label>
        <p>Specify the LN address for payment provider.</p>
        <input  type="text" 
                id="payments.LNAddress" 
                name="payments.LNAddress" 
                class="form-control" 
                value="<%= request.body.settingsPayments['LNAddress'] %>" 
                placeholder="LNAddress" 
                required
                >
        <div>
            <h4 class="mt-4">Payment providers settings</h2>
            <p> In this section, you can configure the payment provider settings for your server. Currently only GetAlby and LNbits are supported.
            </p>
            <h5> Alby settings</h5>
            <label for="payments.getalby.paymentProviders.authToken" class="mt-1 mb-1 fw-bold">authToken</label>
            <p>Specify the authToken for GetAlby payment provider.</p>
            <input  type="text" 
                    id="payments.paymentProviders.getalby.authToken" 
                    name="payments.paymentProviders.getalby.authToken" 
                    class="form-control" 
                    value="<%= request.body.settingsPayments['paymentProviders']['getalby']['authToken'] %>" 
                    placeholder="GetAlby authToken" 
                    required
                    >
            <h5 class="mt-4"> LNbits settings</h5>
            <label for="payments.lnbits.nodeUrl" class="mt-1 mb-1 fw-bold">Node URL</label>
            <p>Specify the url for LNbits payment provider node. See <a href="https://github.com/lnbits/lnbits/blob/main/docs/guide/installation.md" target="_blank">Installation guide</a> for more information.</p>
            <input  type="text" 
                    id="payments.paymentProviders.lnbits.nodeUrl" 
                    name="payments.paymentProviders.lnbits.nodeUrl" 
                    class="form-control" 
                    value="<%= request.body.settingsPayments['paymentProviders']['lnbits']['nodeUrl'] %>" 
                    placeholder="LNbits nodeUrl" 
                    required
                    >
            <label for="payments.lnbits.readKey" class="mt-1 mb-1 fw-bold">readKey</label>
            <p>Specify the readKey for LNbits payment provider.</p>
            <input  type="text" 
                    id="payments.paymentProviders.lnbits.readKey" 
                    name="payments.paymentProviders.lnbits.readKey" 
                    class="form-control" 
                    value="<%= request.body.settingsPayments['paymentProviders']['lnbits']['readKey'] %>" 
                    placeholder="LNbits readKey" 
                    required
                    >
        </div>
        <div class="col-12 col-md-3 mb-5 mt-4 pb-5 pb-lg-0 mb-lg-2">
            <button class="btn btn-lg mb-4 btn-primary w-100" name="Submit" type="button" onclick="saveSettings()">Save</button>
        </div>
    </form>
  </div>