<% 
  const cfg = locals.domainConfig?.payments || {}; 
  const globalCfg = locals.globalConfig?.payments || {}; 
%>
<div id="settingsPayments">
  <h3 class="mt-4">Payments</h3>
  <form class="form mx-auto">
    <p>
      In this section, you can configure the LN payment provider of your server.
      Currently only Nostr Wallet Connect and LNBits are supported.
    </p>

    <%- include('field', {
      type: 'select',
      name: 'payments.paymentProvider',
      label: 'Payment provider',
      description: 'Choose the payment provider: LNbits or Nostr wallet connect.',
      value: globalCfg.paymentProvider,
      globalValue: globalCfg.paymentProvider,
      options: Object.keys(globalCfg.paymentProviders || {}).map(p => ({ value: p, label: p })),
      overridable: false
    }) %>

    <%- include('field', {
      type: 'number',
      name: 'payments.satoshi.mediaMaxSatoshi',
      label: 'File uploads (max sats)',
      description: 'Maximum sats for uploading files. Set to 0 to disable payment requirement.',
      value: globalCfg.satoshi?.mediaMaxSatoshi,
      globalValue: globalCfg.satoshi?.mediaMaxSatoshi,
      placeholder: 'ex. 1000',
      required: true,
      overridable: true
    }) %>

    <%- include('field', {
      type: 'number',
      name: 'payments.satoshi.registerMaxSatoshi',
      label: 'Register form (max sats)',
      description: 'Maximum sats for registering. Set to 0 to disable payment requirement.',
      value: globalCfg.satoshi?.registerMaxSatoshi,
      globalValue: globalCfg.satoshi?.registerMaxSatoshi,
      placeholder: 'ex. 1000',
      required: true,
      overridable: true
    }) %>

    <%- include('field', {
      type: 'checkbox',
      name: 'payments.allowUnpaidUploads',
      label: 'Allow unpaid uploads',
      description: 'If active, uploads are allowed while the invoice is pending payment.',
      value: globalCfg.allowUnpaidUploads,
      globalValue: globalCfg.allowUnpaidUploads,
      overridable: true
    }) %>

    <%- include('field', {
      type: 'checkbox',
      name: 'payments.sendMessageToPubkey',
      label: 'Send invoice to pubkey',
      description: 'Send a Nostr DM to uploader with invoice details.',
      value: globalCfg.sendMessageToPubkey,
      globalValue: globalCfg.sendMessageToPubkey,
      overridable: false
    }) %>

    <%- include('field', {
      type: 'number',
      name: 'payments.invoicePaidInterval',
      label: 'Invoice paid interval (sec)',
      description: 'Interval (in seconds) to check invoice status.',
      value: globalCfg.invoicePaidInterval,
      globalValue: globalCfg.invoicePaidInterval,
      placeholder: 'Example 60',
      required: true,
      overridable: false
    }) %>

    <%- include('field', {
      type: 'text',
      name: 'payments.LNAddress',
      label: 'LN Address',
      description: 'LN Address for payment provider.',
      value: globalCfg.LNAddress,
      globalValue: globalCfg.LNAddress,
      placeholder: 'LN address here',
      required: true,
      overridable: false
    }) %>

    <h4 class="mt-4">Payment providers settings</h4>
    <h5 class="mt-4">Nostr Wallet Connect</h5>
    <%- include('field', {
      type: 'password',
      name: 'payments.paymentProviders.nwc.url',
      label: 'NWC URL',
      description: 'Nostr Wallet Connect URL.',
      value: globalCfg.paymentProviders?.nwc?.url,
      globalValue: globalCfg.paymentProviders?.nwc?.url,
      placeholder: 'nwc://...',
      required: true,
      overridable: false
    }) %>

    <h5 class="mt-4">LNBits</h5>
    <%- include('field', {
      type: 'text',
      name: 'payments.paymentProviders.lnbits.nodeUrl',
      label: 'LNBits Node URL',
      description: 'LNBits node URL for the payment provider.',
      value: globalCfg.paymentProviders?.lnbits?.nodeUrl,
      globalValue: globalCfg.paymentProviders?.lnbits?.nodeUrl,
      placeholder: 'https://lnbits...',
      required: true,
      overridable: false
    }) %>

    <%- include('field', {
      type: 'password',
      name: 'payments.paymentProviders.lnbits.readKey',
      label: 'LNBits readKey',
      description: 'ReadKey for LNBits.',
      value: globalCfg.paymentProviders?.lnbits?.readKey,
      globalValue: globalCfg.paymentProviders?.lnbits?.readKey,
      placeholder: 'ReadKey',
      required: true,
      overridable: false
    }) %>

    <div class="col-12 col-md-3 mb-5 mt-4 pb-5 pb-lg-0 mb-lg-2">
      <button class="btn btn-lg mb-4 btn-primary w-100" name="Submit" type="button" onclick="saveSettings()">Save</button>
    </div>
  </form>
</div>
