<% 
  const globalCfg = locals.globalConfig?.security || {};
%>
<div id="settingsSecurity">
  <h3 class="mt-4">Security</h3>
  <form class="form mx-auto">
    <p> In this section, you can configure the security settings of your server.</p>

    <div class="alert alert-warning mt-3" role="alert">
      <i class="fa-solid fa-triangle-exclamation"></i> <b>Change this only if you know what you are doing.</b> After changing security settings, you need to <b>restart the server</b> to apply the changes.
    </div>

    <%- include('field', {
      type: "number",
      name: "security.maxDefaultRequestMinute",
      label: "Default request minute",
      description: "This value is used for the default allowed request per minute on all endpoints.",
      value: globalCfg.maxDefaultRequestMinute,
      globalValue: globalCfg.maxDefaultRequestMinute,
      placeholder: "ex. 60",
      required: true,
      overridable: false
    }) %>

    <h4 class="mt-4">Fileserver</h4>
    <%- include('field', {
      type: "number",
      name: "security.media.maxUploadsMinute",
      label: "Max uploads per minute",
      description: "This value is used for the maximum allowed uploads per minute on all file server endpoints.",
      value: globalCfg.media?.maxUploadsMinute,
      globalValue: globalCfg.media?.maxUploadsMinute,
      placeholder: "ex. 10",
      required: true,
      overridable: false
    }) %>

    <%- include('field', {
      type: "file",
      name: "media.file.banned",
      label: "Banned banner",
      description: "Specify the banner to be used when a media file is banned.",
      previewSrc: `/static/resources/media-file-banned.webp${selectedDomain ? `?domain=${selectedDomain}` : ""}`,
      previewSize: { width: 220, height: 220 },
      overridable: true
    }) %>

    <h4 class="mt-4">Register</h4>
    <%- include('field', {
      type: "number",
      name: "security.register.maxRegisterDay",
      label: "Max register per day",
      description: "This value is used for the maximum allowed register per day.",
      value: globalCfg.register?.maxRegisterDay,
      globalValue: globalCfg.register?.maxRegisterDay,
      placeholder: "ex. 10",
      required: true,
      overridable: false
    }) %>

    <h4 class="mt-4">Relay</h4>
    <%- include('field', {
      type: "number",
      name: "security.relay.maxMessageMinute",
      label: "Max relay messages per minute",
      description: "This value is used for the maximum allowed relay messages per minute.",
      value: globalCfg.relay?.maxMessageMinute,
      globalValue: globalCfg.relay?.maxMessageMinute,
      placeholder: "ex. 300",
      required: true,
      overridable: false
    }) %>

    <div class="col-12 col-md-3 mb-5 mt-4 pb-5 pb-lg-0 mb-lg-2">
      <button class="btn btn-lg mb-4 btn-primary w-100" name="Submit" type="button" onclick="saveSettings()">Save</button>
    </div>
  </form>
</div>
