<div id ="settingsServer">
    <h3 class="mt-4">Server</h3>
    <form class="form mx-auto">
        <p>
            You can configure the server related settings in this section. 
        Server is identified using this public/private keypair, it will use the following credentials to interact with nostr. The public key will be used in NIP96 and NIP05. The private key will be used to send DM's and sign notes.
        </p>
        <label for="server.name" class="mt-2 mb-1 fw-bold">Hostname</label>
        <p> 
        Server hostname is used to identify the server, this will be displayed on home page, page title, etc.
        </p>
        <input  type="text" 
                id="server.host"  
                name="server.host" 
                class="form-control" 
                value="<%= request.body.settingsServerHost %>" 
                placeholder="Server host" 
                required
                >

        <label for="environment" class="mt-2 mb-1 fw-bold">Environment</label>
        <p>Configure the server's environment. For security reasons, a server exposed to the internet should be set to "production" mode, it enables certain security features that are not necessary in a development environment.</p>
        <div class="col-12 col-md-4 col-lg-5">
        <select id="environment" name="environment" class="form-select">
            <option value="development" <% if (request.body.settingsEnvironment === 'development') { %>selected<% } %>>development</option>
            <option value="production" <% if (request.body.settingsEnvironment === 'production') { %>selected<% } %>>production</option>
        </select>
        </div>
        <div class="alert alert-warning mt-3" role="alert">
        <i class="fa-solid fa-triangle-exclamation"></i> If you specify "production" mode, <b>the server must be configured under HTTPS.</b> Otherwise, users will not be able to log in because the server will not be able to set the cookies under insecure connections.
        </div>

        <label for="server.pubkey" class="mt-3 mb-1 fw-bold">Server pubkey</label>
        <p>This is the public key of the server. It's used to return the server's pubkey to the "_" NIP05 requests.</p>
        <input  type="text" 
                id="server.pubkey"  
                name="server.pubkey" 
                class="form-control" 
                value="<%= request.body.settingServerPubkey %>" 
                placeholder="Server pubkey (HEX format)" 
                required
                >
        <label for="server.secretKey" class="mt-2 mb-1 fw-bold">Server secret key</label>
        <p>Used to sign and decrypt the server DM's and notes.</p>
        <div class="input-group">
            <input  type="password" 
            id="server.secretKey" 
            name="server.secretKey" 
            class="form-control mb-2" 
            defaultValue="<%= request.body.settingServerSecretkey %>" 
            value="<%= request.body.settingServerSecretkey %>" 
            placeholder="Server secret key (HEX format)" 
            required 
            >
            <button type="button" class="toggle-password d-none"
            aria-label="Show secret key as plain text. Warning: this will display your password on the screen.">
            </button>
        </div>
        <div class="alert alert-warning mt-3" role="alert">
        <i class="fa-solid fa-triangle-exclamation"></i> Be careful, <b>both keys must be modified simultaneously, and be valid with each other.
        </b> otherwise the server won't function properly.
        </div>
        <label for="redis.expireTime" class="mt-3 mb-1 fw-bold">Cache expiration</label>
        <p>Specify the cache expiration time in seconds. This will be used to cache the server's data. Is recommended to set this value to 300 or higher to increase the server's performance.</p>
        <div class="col-12 col-sm-5 col-md-4">
                <input  type="text" 
                id="redis.expireTime"  
                name="redis.expireTime" 
                class="form-control" 
                value="<%= request.body.settingsRedisExpireTime %>" 
                placeholder="Expiration time (seconds)" 
                required
                >
        </div>
        <div class="col-12 col-md-3 mb-5 mt-4 pb-5 pb-lg-0 mb-lg-2">
            <button class="btn btn-lg mb-4 btn-primary w-100" name="Submit" type="button" onclick="saveSettings()">Save</button>
        </div>
    </form>
  </div>