<% 
  const globalCfg = locals.globalConfig?.storage || {};
%>
<div id="settingsStorage">
  <h3 class="mt-4">Storage</h3>
  <form class="form mx-auto">
    <p>
      In this section, you can customize and manage how your files are stored. 
      Adjust the parameters according to your needs to optimize performance and organization of the server files.
    </p>

    <%- include('field', {
      type: "select",
      name: "storage.type",
      label: "Storage type",
      description: "Local storage is used to store files on the server's disk. Remote storage (S3) is used to store files on a remote S3 bucket.",
      value: globalCfg.type,
      globalValue: globalCfg.type,
      options: [
        { value: "local", label: "local" },
        { value: "remote", label: "remote" }
      ],
      overridable: false
    }) %>

    <div class="alert alert-danger mt-3" role="alert">
      <i class="fa-solid fa-triangle-exclamation"></i> 
      <b>Change this only if you know what you are doing.</b> After changing the storage type, 
      you need to migrate the files to the new storage type <b>manually.</b>
    </div>  

    <%- include('field', {
      type: "text",
      name: "storage.local.tempPath",
      label: "Temp path",
      description: "Path to store the files before they are processed and moved to the final storage location. The path must finish with a slash. (e.g. tmp/)",
      value: globalCfg.local?.tempPath,
      globalValue: globalCfg.local?.tempPath,
      placeholder: "Local storage temp path",
      required: true,
      overridable: false
    }) %>

    <h5 class="mt-3">Local storage</h5>
    <p>Configure the local storage settings for your server.</p>

    <%- include('field', {
      type: "text",
      name: "storage.local.mediaPath",
      label: "Media path",
      description: "Path to store media files locally. The path must finish with a slash. (e.g. media/)",
      value: globalCfg.local?.mediaPath,
      globalValue: globalCfg.local?.mediaPath,
      placeholder: "Local storage media path",
      required: true,
      overridable: false
    }) %>

    <h5 class="mt-3">S3 storage</h5>
    <p>Configure the remote (S3) storage settings for your server.</p>

    <%- include('field', {
      type: "text",
      name: "storage.remote.bucketName",
      label: "Bucket name",
      description: "Specify the bucket name for remote (S3) storage.",
      value: globalCfg.remote?.bucketName,
      globalValue: globalCfg.remote?.bucketName,
      placeholder: "S3 bucket name",
      required: true,
      overridable: false
    }) %>

    <%- include('field', {
      type: "text",
      name: "storage.remote.endpoint",
      label: "Endpoint",
      description: "Specify the endpoint for remote (S3) storage.",
      value: globalCfg.remote?.endpoint,
      globalValue: globalCfg.remote?.endpoint,
      placeholder: "S3 endpoint",
      required: true,
      overridable: false
    }) %>

    <%- include('field', {
      type: "text",
      name: "storage.remote.accessKeyId",
      label: "Access key ID",
      description: "Specify the access key ID for remote (S3) storage.",
      value: globalCfg.remote?.accessKeyId,
      globalValue: globalCfg.remote?.accessKeyId,
      placeholder: "S3 access key ID",
      required: true,
      overridable: false
    }) %>

    <%- include('field', {
      type: "text",
      name: "storage.remote.secretAccessKey",
      label: "Secret access key",
      description: "Specify the secret access key for remote (S3) storage.",
      value: globalCfg.remote?.secretAccessKey,
      globalValue: globalCfg.remote?.secretAccessKey,
      placeholder: "S3 secret access key",
      required: true,
      overridable: false
    }) %>

    <%- include('field', {
      type: "text",
      name: "storage.remote.region",
      label: "Region",
      description: 'Specify the region for remote (S3) storage. For Cloudflare storage always use "auto".',
      value: globalCfg.remote?.region,
      globalValue: globalCfg.remote?.region,
      placeholder: "S3 region",
      required: true,
      overridable: false
    }) %>

    <div class="col-12 col-md-3 mb-5 mt-4 pb-5 pb-lg-0 mb-lg-2">
      <button class="btn btn-lg mb-4 btn-primary w-100" name="Submit" type="button" onclick="saveSettings()">Save</button>
    </div>
  </form>
</div>
